In [ ]:
import pandas as pd
import numpy as np
from faker import Faker
from collections import defaultdict
from sqlalchemy import create_engine
import datetime
import random
import re

In [ ]:
from numpy import integer


fake=Faker()

fake_data = defaultdict(list)

row_number=int(input("Please write the number you wish to see the row size, DON'T CRASH ME!"))

In [ ]:
type(fake_data)

#Functions

#Fake data is generated.

In [ ]:

for i in range(row_number):
    fake_data['from_customer'].append(fake.bothify(text='FRM-1#####'))
    fake_data['amount'].append(fake.pyfloat(right_digits=2,positive=True,min_value=2.00,max_value=10000.00))
    fake_data['timestamp'].append(fake.date_time_ad(start_datetime=datetime.datetime(2022,9,14)))

In [ ]:
#To_customer feauture
templist=[]
#check the key value from list_converted defaultdict
for k,v in list(fake_data.items()):
    if k=='from_customer':
        #Change FRM tag to TO tag
        for item in v:
                splited_item=item.split('-')
                splited_item[0]='TO'
                concat_item='-'.join(splited_item)
                templist.append(concat_item)#item
#To_customer yapısında yer değişikliği random
random.shuffle(templist)
fake_data['to_customer']=templist

In [ ]:
df=pd.DataFrame(fake_data)
df=df[['from_customer','to_customer','amount','timestamp']] 
#dropped_df=df.drop(['amount','timestamp'], axis=1)

In [ ]:
try:
    equal=any(df['from_customer'].str.extract('(\d+)')==df['to_customer'].str.extract('(\d+)'))
except:
    print("Same value error, please check your rows that may be have a same value")

In [ ]:
#type(df_manipulation['from_customer'].str.extract('(\d+)')==df_manipulation['to_customer'].str.extract('(\d+)'))
#GET INDEX NUMBER:
    #df_manipulation[df['from_customer']=='FRM-757739'].index.item() 
#Seperate the numbers:
    #df_manipulation['from_customer'].str.extract('(\d+)'))
    #df_manipulation['to_customer'].str.extract('(\d+)'))
df.head()

In [ ]:
from_or_to={'from_customer':'from_customer',
                    'to_customer':'to_customer'}
for i in range(len(from_or_to)):
            list(from_or_to.keys())[i]=df[list(from_or_to.keys())[i]].to_list()

Emre Kaya

In [ ]:
from_customer=list(df["from_customer"])#from_customer adlı sütünü listeye çevirdim

to_customer=list(df["to_customer"])#to_customer adlı sütünü listeye çevirdim

In [ ]:
new_from_customer=[] # yeni data frame '  e  eklemek içni yeni from_custormer listem 
new_to_customer=[]# yeni data frame '  e  eklemek içni yeni to_ custormer listem

In [ ]:
loop=(len(df)*10)

In [ ]:

for i in range(loop): # df nin uzunluğu kadar bir döngü yapıyorum
    rand_numb=random.randint(1,10)  # rastgele random sayı üretiyorum ki from_customer ' random sayıda aktivasyonu olsun
    print("i=",i,"- rand_numb=",rand_numb)
    print("ilk for new_from_customer",len(new_from_customer))
    from_customer_sp=random.choices(from_customer)
    f_c_s=str(from_customer_sp)

    for j in range(rand_numb): #random sayıyla döngü kuruyorum 
       
        print("j=",j)
        choices=random.choices(to_customer) #to_customer listesinden random seçiyorum 
        # aynı müşteri kendine göndermemesi iiçin seçimi parçalıyorum
        
        choices_sp=str(choices) 

        choices_sp_jo=choices_sp.split("-") 

        number_to_customer=choices_sp_jo[1]


        
        number_from_customer=f_c_s.split("-")[1]

        # aynı müşteri kendine göndermemesi id leri  kıyaslıyorum eğer aynıysa döngüye devam ediyor 
        if (number_from_customer[1]== number_to_customer[1]):
            print("AYNI")
            continue
        
        
        if len(new_from_customer)==loop: # df nin uzunluğuna eşit olunca çıkması lazım
            break
        new_from_customer.append(from_customer_sp[0]) # ana listeden yeni listeye random sayısı kadar  aynısından ekliyo ki gönderenle alan eşit olsun
        print("2.for new_from_customer",len(new_from_customer))
        
        if len(new_to_customer)==loop:
            break
        new_to_customer.append(choices[0]) # random seçtiğimiz ögeyi yeni to_custoemr listesine ekliyoruz
        
        
print(new_to_customer)

In [ ]:
amount=list(df["amount"]) # df de ki amount u listeye dönüştürüyorum
timestamp=list(df["timestamp"]) #df de ki timestamp u listeye dönüştürüyorum

In [ ]:
xyz= defaultdict(list)

In [ ]:
# listeleri yeni data frame aktarıyorum
xyz['from_customer']=new_from_customer
xyz['to_customer']=new_to_customer

In [ ]:
for i in range(loop):
    fake_amaount=[fake.pyfloat(right_digits=2,positive=True,min_value=2.00,max_value=10000.00),fake.pyfloat(right_digits=2,positive=True,min_value=2.00,max_value=10000.00)]
    xyz['amount'].append(fake_amaount)
    fake_amaount=[fake.date_time_ad(start_datetime=datetime.datetime(2022,9,14)),fake.date_time_ad(start_datetime=datetime.datetime(2022,9,14))]
    xyz['timestamp'].append(fake_amaount)

In [ ]:
new_data_frame=pd.DataFrame(xyz) # yeni data frame oluşturuyorum


new_data_frame=new_data_frame[['from_customer','to_customer','amount','timestamp']]

In [ ]:
new_data_frame.head()

In [ ]:
just_id_data = defaultdict(list)

row_number=int(input("Please write the number you wish to see the row size, DON'T CRASH ME!"))

In [ ]:
for i in range(row_number):
    just_id_data['from_customer'].append(fake.bothify(text='1#####'))
    just_id_data['amount'].append(fake.pyfloat(right_digits=2,positive=True,min_value=2.00,max_value=10000.00))
    just_id_data['timestamp'].append(fake.date_time_ad(start_datetime=datetime.datetime(2022,9,14)))
    
just_id_data['to_customer']=just_id_data['from_customer']

In [ ]:
jdf=pd.DataFrame(just_id_data)
jdf=jdf[['from_customer','to_customer','amount','timestamp']]

In [ ]:
jdf.head()

In [ ]:
id_from_customer=list(jdf["from_customer"])#from_customer adlı sütünü listeye çevirdim

id_to_customer=list(jdf["to_customer"])#to_customer adlı sütünü listeye çevirdim

In [ ]:
just_id_from_customer=[] # yeni data frame '  e  eklemek içni yeni from_custormer listem 
just_id_to_customer=[]# yeni data frame '  e  eklemek içni yeni to_ custormer listem
just_id_mount=[] 
just_id_timestamp=[]

In [ ]:
for i in range(len(df)): # df nin uzunluğu kadar bir döngü yapiyorum
    rand_numb=random.randint(1,10)  # rastgele random sayi üretiyorum ki from_customer ' random sayida aktivasyonu olsun
   
    id_from_customer_sp=id_from_customer[i]
    f_c_s=''.join(id_from_customer_sp)
    to_customer_id=[]
    mount_id=[]
    timestamp_id=[]
    for j in range(rand_numb): #random sayiyla döngü kuruyorum 
       
       
        
         #to_customer listesinden random seçiyorum 
        # ayni müşteri kendine göndermemesi iiçin seçimi parçaliyorum
        
        choices_sp=''.join(random.choices(id_to_customer))
        # ayni müşteri kendine göndermemesi id leri  kiyasliyorum eğer ayniysa döngüye devam ediyor 
        if (f_c_s== choices_sp):
            
            continue
        to_customer_id.append(choices_sp)
        mount_id.append(fake.pyfloat(right_digits=2,positive=True,min_value=2.00,max_value=10000.00))
        timestamp_id.append(fake.date_time_ad(start_datetime=datetime.datetime(2022,9,14)))
       
        

         
       
        
    
    if len(just_id_from_customer)==len(df): # df nin uzunluğuna eşit olunca çikmasi lazim
            break
    just_id_from_customer.append(f_c_s) # ana listeden yeni listeye random sayisi kadar  aynisindan ekliyo ki gönderenle alan eşit olsun
    
        
    if len(just_id_to_customer)==len(df):
            break
    # random seçtiğimiz ögeyi yeni to_custoemr listesine ekliyoruz
    just_id_to_customer.append(to_customer_id)
    just_id_mount.append(mount_id)
    just_id_timestamp.append(timestamp_id)
     # random seçtiğimiz ögeyi yeni to_custoemr listesine ekliyoruz
    del(to_customer_id)

In [ ]:

jt_id= defaultdict(list)

In [ ]:
jt_id['from_customer']=just_id_from_customer
jt_id['to_customer']=just_id_to_customer
jt_id['amount']=just_id_mount
jt_id['timestamp']=just_id_timestamp

In [ ]:
jd_id_df=pd.DataFrame(jt_id)
jd_id_df=jd_id_df[['from_customer','to_customer','amount','timestamp']]

In [ ]:
jd_id_df

#Neo4j

In [ ]:
jd_id_df

In [ ]:
from neo4j import GraphDatabase

In [ ]:
new_df=jd_id_df
transaction_info=new_df.values.tolist()
transaction_info

In [55]:
atim=[]

for element in transaction_info:
    #print(element[0])
    for block in range(1,len(element)):
        #print(element[block])
        for j in element[block]:
            #session.write_transaction(create_transaction,str(element[0]),str(transaction_info[0][1][j]),str(transaction_info[0][2][j]),str(transaction_info[0][3][j]))
        #print("\n")

#session.write_transaction(create_transaction,str(element[0]),str(transaction_info[0][1][j]),str(transaction_info[0][2][j]),str(transaction_info[0][3][j]))

169842
145006
103393
142507


9940.65
3233.84
8027.4
7619.49


2022-10-13 05:59:24
2022-10-31 16:03:23
2022-10-09 13:37:22
2022-10-09 00:56:32


199339
142507
145006


723.6
8195.62
4622.6


2022-11-02 22:56:40
2022-10-28 20:21:12
2022-10-21 07:57:46


169842
117196
125876
180672
193523
141222
165089
113957


2374.3
6430.6
1437.54
5339.6
3061.91
7178.49
3533.58
3390.66


2022-10-07 06:05:21
2022-09-27 17:12:02
2022-09-16 18:36:34
2022-09-23 09:41:07
2022-10-22 22:44:55
2022-10-10 05:44:17
2022-09-17 14:12:04
2022-09-22 23:40:57


169842
199339
153803
183521
193676


2052.24
8232.13
7120.14
2496.65
785.56


2022-10-07 19:50:12
2022-10-19 11:49:56
2022-09-28 22:21:03
2022-10-15 15:44:41
2022-09-15 04:53:59


162505
145006
193523
117961


4365.86
4445.43
4106.54
2274.31


2022-09-29 18:59:43
2022-10-16 04:14:13
2022-09-29 22:27:07
2022-10-14 22:41:06


130865
144256


7520.61
252.65


2022-10-14 06:07:35
2022-09-22 10:46:51


165486
125876
162505
142507
117540
199098
130865


1739.32
4518.13
5639.61
113.67
5720.68
4415.67
1717.97


2022-10-07 08:52:26
2022-09-29 11:52:42
2022-10-27 14:36:39
2022-10-16 09:53:24
2022-10-29 02:02:29
2022-10-26 19:37:16
2022-10-04 14:58:03


193676
114375
145502


9327.82
4799.29
4274.96


2022-09-24 04:18:52
2022-10-20 05:01:44
2022-09-29 19:52:48


162505
141222
170217
134761
199339
176134


2247.32
3866.4
8941.76
1085.53
5236.44
9314.41


2022-09-30 05:41:19
2022-10-01 21:49:16
2022-10-07 08:44:54
2022-09-23 09:37:35
2022-10-05 19:44:59
2022-09-30 08:30:23


156794
165486
153803
133776
165089


9007.35
125.93
9789.95
1772.49
4923.8


2022-10-04 11:51:12
2022-10-22 20:04:30
2022-11-02 05:25:54
2022-10-04 22:58:12
2022-10-18 18:05:39


199098
169842
196715


5353.12
2198.61
2988.41


2022-10-05 05:25:05
2022-09-22 19:39:41
2022-10-30 09:49:13


174393
120452
141222
193523
193523


904.19
9990.19
750.72
7057.87
8162.94


2022-10-12 05:58:09
2022-10-07 05:13:20
2022-09-17 00:38:41
2022-09-22 04:31:08
2022-10-19 04:37:58


117540
180070
117961
162505
103393
130398


5916.1
8193.55
2337.31
4902.15
1573.56
9878.64


2022-10-03 04:37:46
2022-10-21 23:51:02
2022-10-05 12:55:54
2022-10-19 22:22:57
2022-10-18 05:05:34
2022-10-01 20:30:51


170111
141222
174393
130865
102407
172080


5085.28
1187.84
4296.87
9163.32
6405.55
2912.5


2022-10-15 21:49:14
2022-09-30 09:41:55
2022-10-11 13:28:07
2022-10-08 13:06:07
2022-09-23 21:25:49
2022-10-13 02:50:57


176134
110090


1228.92
9270.8


2022-09-18 10:03:31
2022-10-01 01:46:44


144256
193523
120452


3319.8
861.7
48.82


2022-10-29 13:52:50
2022-10-06 03:20:45
2022-09-21 00:13:27


170217
134761
102407
193523
130865
169842
176134
142507
183521
194821


9089.7
5452.6
8318.36
8949.86
6708.68
8731.8
9963.27
2496.9
9834.6
9146.48


2022-10-24 09:14:56
2022-10-10 23:18:09
2022-10-24 11:47:18
2022-09-18 15:05:00
2022-09-30 06:14:34
2022-09-28 22:21:45
2022-09-21 08:28:48
2022-09-21 02:23:00
2022-10-18 18:38:21
2022-09-17 17:38:55


199339
141222
103393


6264.53
8778.61
8517.83


2022-10-29 11:04:43
2022-09-20 16:20:59
2022-10-30 17:55:30


154647
117961
169842
165089
165089
125876


8647.11
4241.86
7040.12
6078.36
2773.28
4569.41


2022-09-18 22:13:27
2022-10-17 08:31:47
2022-10-31 23:46:06
2022-11-03 06:44:21
2022-10-23 05:22:59
2022-09-19 09:14:00


110090
154647
180672
125876
199098
123231
102407
114375


4404.38
6287.52
7205.5
9324.61
6761.88
2354.97
543.58
1559.67


2022-10-21 02:44:08
2022-11-02 02:17:33
2022-10-05 09:19:01
2022-10-31 12:20:10
2022-09-27 07:45:21
2022-09-24 19:11:02
2022-09-30 20:41:30
2022-09-26 19:29:06


176134
145006
141222
130865
161971
196715


9361.28
5117.35
7113.15
7568.71
9936.74
3778.97


2022-09-30 09:43:48
2022-10-30 09:09:58
2022-10-02 08:36:24
2022-10-13 13:26:37
2022-10-15 02:09:58
2022-09-25 16:12:49


156794


9740.34


2022-10-29 08:43:00


162610
117540


6802.55
9597.3


2022-09-21 10:20:47
2022-10-08 11:45:14


145502
176134
102407
162505


1819.84
2271.43
7536.86
4513.44


2022-10-09 08:06:09
2022-09-21 12:48:50
2022-09-18 22:48:08
2022-09-17 21:12:59


154647
194821
193676
161971
145006
192044


4532.51
805.0
3092.4
5771.5
8754.76
9247.24


2022-09-25 12:42:39
2022-10-21 11:19:09
2022-10-26 23:57:14
2022-09-28 23:16:50
2022-10-04 11:37:56
2022-09-19 07:21:33


130398
103393
199439
192044
161971
172080
183521
130398
169842
153803


2702.56
6427.94
2635.64
9185.52
8927.35
946.36
2636.35
9882.91
8061.47
204.51


2022-10-17 00:33:15
2022-10-16 20:01:40
2022-10-15 16:30:05
2022-10-18 20:24:01
2022-10-14 14:31:50
2022-10-13 13:56:58
2022-10-03 22:07:29
2022-09-18 06:47:34
2022-11-02 23:04:37
2022-10-14 03:45:22


141222
103393
199098
165486


3038.73
1068.2
8049.36
4275.75


2022-10-23 12:01:56
2022-10-21 04:10:10
2022-09-15 22:26:08
2022-09-28 14:59:54


180672
144951
169842
130398
117540


7520.91
1909.1
8541.94
7879.8
900.32


2022-10-02 13:13:49
2022-10-04 11:14:52
2022-09-24 23:58:09
2022-09-24 18:44:47
2022-10-19 05:40:18


117196


1700.5


2022-09-25 01:06:10


172080
142507
114375


1301.62
9905.11
7138.59


2022-10-03 21:40:21
2022-09-28 16:13:32
2022-10-30 18:54:46


180070
165089
192044
180672
117961
174393
192044
117540
110090
133776


6767.77
1637.68
5978.31
3368.92
3146.64
7256.69
3617.38
3215.9
6450.2
3128.17


2022-09-19 22:54:31
2022-09-25 01:29:01
2022-09-21 14:37:43
2022-10-24 03:50:47
2022-10-10 18:56:52
2022-09-27 17:27:33
2022-10-30 13:14:38
2022-09-15 04:08:55
2022-09-23 21:00:16
2022-10-21 23:54:15


180672
165089
196715
123231
199339


5111.6
4118.2
5996.4
3504.14
1491.67


2022-10-05 20:48:27
2022-10-28 23:29:55
2022-10-04 14:08:14
2022-10-22 20:52:13
2022-09-23 01:50:20


130398
167190


5476.75
2979.83


2022-10-08 09:19:13
2022-10-11 04:35:15


193523
170217


3559.7
3804.86


2022-11-02 22:43:13
2022-10-05 07:28:11


141222
144256


5997.81
9744.81


2022-10-24 03:24:03
2022-09-15 23:26:23


156794
174393
162610
193523
117961
117196
165486
194821
174393
134761


5725.43
533.26
4443.6
7427.79
9914.94
8082.19
84.64
7531.76
2287.18
5361.2


2022-10-20 14:59:16
2022-10-12 23:12:03
2022-09-26 06:37:16
2022-10-10 16:25:14
2022-10-08 00:02:08
2022-09-30 12:26:41
2022-10-21 23:10:00
2022-09-22 08:21:48
2022-10-23 18:12:13
2022-10-29 01:06:52


141222
199439
199439
176134
170111
156794


2550.82
1837.22
1891.79
5792.13
2223.3
5253.12


2022-10-01 23:07:17
2022-10-04 20:00:25
2022-09-27 05:33:12
2022-10-05 19:11:52
2022-09-27 20:46:41
2022-09-23 08:46:30


172080
183521
193676
161971


8151.2
2517.73
1968.54
6260.75


2022-10-24 23:31:47
2022-10-12 05:33:30
2022-10-25 12:55:36
2022-10-23 22:02:39


197305


7726.7


2022-10-22 16:35:53


133776
199339
110090
142507


4775.72
1037.41
147.45
310.68


2022-10-01 21:09:14
2022-10-29 08:28:48
2022-10-08 06:27:39
2022-10-21 01:49:47


199339
183521
142507
161971
176134
194821
130398
156794


5764.1
4136.0
9540.4
8715.48
3870.43
6367.7
8580.93
6108.3


2022-09-21 20:14:21
2022-09-16 11:28:23
2022-10-02 16:48:56
2022-09-19 09:03:20
2022-10-02 14:51:01
2022-10-12 03:22:52
2022-10-13 23:21:15
2022-10-05 04:20:22


125876
162505
180672
110090


6011.44
7236.88
1581.5
2336.76


2022-10-28 23:36:36
2022-09-20 14:47:56
2022-10-01 11:56:12
2022-09-20 23:11:24


199439
144951
117196
193523
161971
167190


1014.57
5150.68
357.77
2578.0
2992.88
7590.18


2022-11-01 22:30:15
2022-10-10 00:06:43
2022-09-19 10:55:28
2022-10-21 23:24:17
2022-10-16 11:15:07
2022-09-22 20:18:33


199098
110090
141222


2347.8
3720.2
7011.38


2022-09-22 02:10:57
2022-10-11 02:29:54
2022-10-16 05:56:18


154647
134761
141222
180672
180070
145502
192044
183521
196715
156794


2833.68
1088.4
3577.31
9101.5
9585.99
8873.82
5486.72
8015.0
9854.51
6012.95


2022-09-14 02:11:37
2022-10-06 19:33:41
2022-10-30 22:20:41
2022-10-27 01:38:13
2022-09-28 10:23:28
2022-10-12 09:11:50
2022-10-22 12:48:17
2022-10-12 03:48:30
2022-09-24 03:14:15
2022-09-27 08:18:15


117196
199439
119866
174393
145502


9608.41
6670.34
9471.7
6256.48
4979.12


2022-10-12 22:25:57
2022-09-22 03:40:11
2022-09-14 22:41:11
2022-10-13 00:41:57
2022-10-13 05:28:59


156794


2800.78


2022-10-17 00:14:00


162610
199339
119866
167190
145502
180070


5575.85
5445.6
266.21
1215.72
8936.66
7516.14


2022-10-13 02:45:00
2022-10-09 22:29:36
2022-10-08 12:24:35
2022-10-08 01:52:45
2022-09-25 03:29:13
2022-09-26 08:49:29


130865


7571.9


2022-10-19 16:34:05


154647


1813.3


2022-10-05 14:16:27

In [70]:
uri = "neo4j://localhost:7687"
driver = GraphDatabase.driver(uri, auth=("neo4j", "test"))

def clear_db(tx):
    tx.run("MATCH(n) Detach Delete n")

def create_customer(tx, customer_id):
    tx.run("CREATE (c1:customer {name: $name, customer_id: $id})",name='customer', id=customer_id)

#def create_customer2(tx, to_customer):
 #   tx.run("CREATE (c2:Customer2 {name: $name, customer_id: $id})",name='customer2', id=to_customer)

#def create_transaction(tx, from_customer, to_customer,amount,timestamp):
#    tx.run("MATCH (c1:Customer) WHERE c1.customer_id = $id "
#           "CREATE (c1)-[:Transaction{amount:$amount,time:$timestamp}]->(c2:Customer {customer_id: $otherid})",
#           id=from_customer, otherid=to_customer,amount=amount,timestamp=timestamp)

def create_transaction(tx,customer_id,other_customer_id,amount,timestamp):
    tx.run("MATCH (c1:customer),(c2:customer) "
    "Where c1.customer_id= $id and c2.customer_id= $otherid "
    "Create (c1)-[t:Transaction{amount: $amount, time: $timestamp}]->(c2)",
    id=customer_id,otherid=other_customer_id,amount=amount,timestamp=timestamp)

        
#def deneme(tx,from_customer,to_customer,amount,timestamp):
#    tx.run("MATCH (c:Customer) WHERE c.customer_id=$id "
#    "MATCH (c2:Customer) WHERE c2.customer_id=$receiverid "
#    "Merge (c)-[:Transaction{amount:$amount,time:$timestamp}]->(c2)",
#    id=from_customer,receiverid=to_customer,amount=amount,timestamp=timestamp)

with driver.session() as session:

    session.execute_write(clear_db)
    #Create all nodes Customer 1 and Customer 2 create relationship where there is only one relationship

    for i in range(len(transaction_info)):
        session.write_transaction(create_customer, str(transaction_info[i][0]))
        #for i in range(len(transaction_info[i][1])):
        #    session.write_transaction(create_trans,str(transaction_info[i][1][i]),str(transaction_info[i][2][i]),str(transaction_info[i][3][i]))

    
    for element in transaction_info:
    #print(element[0])
        for block in range(1,len(element)):
        #print(element[block])
            for j in range(len(element[block])):
                #print(element[2][j])
                session.write_transaction(create_transaction,element[0],element[1][j],element[2][j],element[3][j])
                #session.write_transaction(create_transaction,str(element[0]),str(transaction_info[veren][1][alan]),str(transaction_info[alan][2][veren]),str(transaction_info[alan][3][veren]))
    #for i in transaction_info:
    #    session.write_transaction(create_customer, str(i[0]))
    #    session.write_transaction(create_customer, str(i[1]))
    #    session.write_transaction(deneme, str(i[0]), str(i[1]),str(i[2]),str(i[3]))

        #session.write_transaction(create_transaction, str(i[0]), str(i[1]))
        #session.write_transaction(create_transaction, str(i[0]), "Carl")

driver.close()

/tmp/ipykernel_37665/3063740351.py:37: DeprecationWarning: write_transaction has been renamed to execute_write
  session.write_transaction(create_customer, str(transaction_info[i][0]))
/tmp/ipykernel_37665/3063740351.py:48: DeprecationWarning: write_transaction has been renamed to execute_write
  session.write_transaction(create_transaction,element[0],element[1][j],element[2][j],element[3][j])