In [1]:
import pandas as pd
import numpy as np
from faker import Faker
from collections import defaultdict
from sqlalchemy import create_engine
import datetime
import random
import re

In [2]:
from numpy import integer


fake=Faker()

fake_data = defaultdict(list)

row_number=int(input("Please write the number you wish to see the row size, DON'T CRASH ME!"))

In [3]:
type(fake_data)

collections.defaultdict

#Functions

#Fake data is generated.

In [4]:

for i in range(row_number):
    fake_data['from_customer'].append(fake.bothify(text='FRM-1#####'))
    fake_data['amount'].append(fake.pyfloat(right_digits=2,positive=True,min_value=2.00,max_value=10000.00))
    fake_data['timestamp'].append(fake.date_time_ad(start_datetime=datetime.datetime(2022,9,14)))

In [5]:
#To_customer feauture
templist=[]
#check the key value from list_converted defaultdict
for k,v in list(fake_data.items()):
    if k=='from_customer':
        #Change FRM tag to TO tag
        for item in v:
                splited_item=item.split('-')
                splited_item[0]='TO'
                concat_item='-'.join(splited_item)
                templist.append(concat_item)#item
#To_customer yapısında yer değişikliği random
random.shuffle(templist)
fake_data['to_customer']=templist

In [6]:
df=pd.DataFrame(fake_data)
df=df[['from_customer','to_customer','amount','timestamp']] 
#dropped_df=df.drop(['amount','timestamp'], axis=1)

In [7]:
try:
    equal=any(df['from_customer'].str.extract('(\d+)')==df['to_customer'].str.extract('(\d+)'))
except:
    print("Same value error, please check your rows that may be have a same value")

In [8]:
#type(df_manipulation['from_customer'].str.extract('(\d+)')==df_manipulation['to_customer'].str.extract('(\d+)'))
#GET INDEX NUMBER:
    #df_manipulation[df['from_customer']=='FRM-757739'].index.item() 
#Seperate the numbers:
    #df_manipulation['from_customer'].str.extract('(\d+)'))
    #df_manipulation['to_customer'].str.extract('(\d+)'))
df.head()

  from_customer to_customer   amount           timestamp
0    FRM-164582   TO-188513  9960.13 2022-10-28 05:35:24
1    FRM-169830   TO-164582  4680.90 2022-10-21 18:17:00
2    FRM-188513   TO-169830  2317.43 2022-10-23 10:16:05

In [9]:
from_or_to={'from_customer':'from_customer',
                    'to_customer':'to_customer'}
for i in range(len(from_or_to)):
            list(from_or_to.keys())[i]=df[list(from_or_to.keys())[i]].to_list()

Emre Kaya

In [10]:
from_customer=list(df["from_customer"])#from_customer adlı sütünü listeye çevirdim

to_customer=list(df["to_customer"])#to_customer adlı sütünü listeye çevirdim

In [11]:
new_from_customer=[] # yeni data frame '  e  eklemek içni yeni from_custormer listem 
new_to_customer=[]# yeni data frame '  e  eklemek içni yeni to_ custormer listem

In [12]:
loop=(len(df)*10)

In [13]:

for i in range(loop): # df nin uzunluğu kadar bir döngü yapıyorum
    rand_numb=random.randint(1,10)  # rastgele random sayı üretiyorum ki from_customer ' random sayıda aktivasyonu olsun
    print("i=",i,"- rand_numb=",rand_numb)
    print("ilk for new_from_customer",len(new_from_customer))
    from_customer_sp=random.choices(from_customer)
    f_c_s=str(from_customer_sp)

    for j in range(rand_numb): #random sayıyla döngü kuruyorum 
       
        print("j=",j)
        choices=random.choices(to_customer) #to_customer listesinden random seçiyorum 
        # aynı müşteri kendine göndermemesi iiçin seçimi parçalıyorum
        
        choices_sp=str(choices) 

        choices_sp_jo=choices_sp.split("-") 

        number_to_customer=choices_sp_jo[1]


        
        number_from_customer=f_c_s.split("-")[1]

        # aynı müşteri kendine göndermemesi id leri  kıyaslıyorum eğer aynıysa döngüye devam ediyor 
        if (number_from_customer[1]== number_to_customer[1]):
            print("AYNI")
            continue
        
        
        if len(new_from_customer)==loop: # df nin uzunluğuna eşit olunca çıkması lazım
            break
        new_from_customer.append(from_customer_sp[0]) # ana listeden yeni listeye random sayısı kadar  aynısından ekliyo ki gönderenle alan eşit olsun
        print("2.for new_from_customer",len(new_from_customer))
        
        if len(new_to_customer)==loop:
            break
        new_to_customer.append(choices[0]) # random seçtiğimiz ögeyi yeni to_custoemr listesine ekliyoruz
        
        
print(new_to_customer)

i= 0 - rand_numb= 4
ilk for new_from_customer 0
j= 0
AYNI
j= 1
2.for new_from_customer 1
j= 2
AYNI
j= 3
AYNI
i= 1 - rand_numb= 4
ilk for new_from_customer 1
j= 0
AYNI
j= 1
AYNI
j= 2
2.for new_from_customer 2
j= 3
2.for new_from_customer 3
i= 2 - rand_numb= 10
ilk for new_from_customer 3
j= 0
AYNI
j= 1
AYNI
j= 2
AYNI
j= 3
AYNI
j= 4
2.for new_from_customer 4
j= 5
2.for new_from_customer 5
j= 6
2.for new_from_customer 6
j= 7
AYNI
j= 8
AYNI
j= 9
AYNI
i= 3 - rand_numb= 2
ilk for new_from_customer 6
j= 0
AYNI
j= 1
AYNI
i= 4 - rand_numb= 10
ilk for new_from_customer 6
j= 0
2.for new_from_customer 7
j= 1
AYNI
j= 2
2.for new_from_customer 8
j= 3
2.for new_from_customer 9
j= 4
2.for new_from_customer 10
j= 5
2.for new_from_customer 11
j= 6
2.for new_from_customer 12
j= 7
2.for new_from_customer 13
j= 8
2.for new_from_customer 14
j= 9
2.for new_from_customer 15
i= 5 - rand_numb= 9
ilk for new_from_customer 15
j= 0
AYNI
j= 1
AYNI
j= 2
AYNI
j= 3
AYNI
j= 4
AYNI
j= 5
2.for new_from_customer 16
j= 6
AYNI
j= 7
2.for new_from_customer 17
j= 8
AYNI
i= 6 - rand_numb= 7
ilk for new_from_customer 17
j= 0
AYNI
j= 1
AYNI
j= 2
2.for new_from_customer 18
j= 3
AYNI
j= 4
2.for new_from_customer 19
j= 5
2.for new_from_customer 20
j= 6
AYNI
i= 7 - rand_numb= 1
ilk for new_from_customer 20
j= 0
AYNI
i= 8 - rand_numb= 6
ilk for new_from_customer 20
j= 0
2.for new_from_customer 21
j= 1
2.for new_from_customer 22
j= 2
2.for new_from_customer 23
j= 3
2.for new_from_customer 24
j= 4
AYNI
j= 5
AYNI
i= 9 - rand_numb= 8
ilk for new_from_customer 24
j= 0
AYNI
j= 1
2.for new_from_customer 25
j= 2
AYNI
j= 3
2.for new_from_customer 26
j= 4
AYNI
j= 5
2.for new_from_customer 27
j= 6
AYNI
j= 7
2.for new_from_customer 28
i= 10 - rand_numb= 3
ilk for new_from_customer 28
j= 0
AYNI
j= 1
AYNI
j= 2
2.for new_from_customer 29
i= 11 - rand_numb= 5
ilk for new_from_customer 29
j= 0
2.for new_from_customer 30
j= 1
AYNI
j= 2
i= 12 - rand_numb= 9
ilk for new_from_customer 30
j= 0
AYNI
j= 1
AYNI
j= 2
AYNI
j= 3
AYNI
j= 4
AYNI
j= 5
AYNI
j= 6
AYNI
j= 7
AYNI
j= 8
AYNI
i= 13 - rand_numb= 5
ilk for new_from_customer 30
j= 0
AYNI
j= 1
AYNI
j= 2
AYNI
j= 3
AYNI
j= 4
AYNI
i= 14 - rand_numb= 5
ilk for new_from_customer 30
j= 0
AYNI
j= 1
AYNI
j= 2
AYNI
j= 3
i= 15 - rand_numb= 9
ilk for new_from_customer 30
j= 0
i= 16 - rand_numb= 4
ilk for new_from_customer 30
j= 0
i= 17 - rand_numb= 2
ilk for new_from_customer 30
j= 0
AYNI
j= 1
AYNI
i= 18 - rand_numb= 2
ilk for new_from_customer 30
j= 0
i= 19 - rand_numb= 4
ilk for new_from_customer 30
j= 0
AYNI
j= 1
AYNI
j= 2
AYNI
j= 3
AYNI
i= 20 - rand_numb= 3
ilk for new_from_customer 30
j= 0
i= 21 - rand_numb= 10
ilk for new_from_customer 30
j= 0
i= 22 - rand_numb= 6
ilk for new_from_customer 30
j= 0
i= 23 - rand_numb= 9
ilk for new_from_customer 30
j= 0
i= 24 - rand_numb= 7
ilk for new_from_customer 30
j= 0
i= 25 - rand_numb= 2
ilk for new_from_customer 30
j= 0
i= 26 - rand_numb= 6
ilk for new_from_customer 30
j= 0
i= 27 - rand_numb= 3
ilk for new_from_customer 30
j= 0
AYNI
j= 1
AYNI
j= 2
AYNI
i= 28 - rand_numb= 10
ilk for new_from_customer 30
j= 0
i= 29 - rand_numb= 3
ilk for new_from_customer 30
j= 0
AYNI
j= 1
AYNI
j= 2
AYNI
['TO-188513', 'TO-188513', 'TO-188513', 'TO-188513', 'TO-188513', 'TO-188513', 'TO-169830', 'TO-169830', 'TO-169830', 'TO-169830', 'TO-164582', 'TO-169830', 'TO-164582', 'TO-164582', 'TO-164582', 'TO-188513', 'TO-188513', 'TO-188513', 'TO-188513', 'TO-188513', 'TO-164582', 'TO-169830', 'TO-164582', 'TO-164582', 'TO-169830', 'TO-164582', 'TO-169830', 'TO-169830', 'TO-188513', 'TO-188513']

In [14]:
amount=list(df["amount"]) # df de ki amount u listeye dönüştürüyorum
timestamp=list(df["timestamp"]) #df de ki timestamp u listeye dönüştürüyorum

In [15]:
xyz= defaultdict(list)

In [16]:
# listeleri yeni data frame aktarıyorum
xyz['from_customer']=new_from_customer
xyz['to_customer']=new_to_customer

In [17]:
for i in range(loop):
    fake_amaount=[fake.pyfloat(right_digits=2,positive=True,min_value=2.00,max_value=10000.00),fake.pyfloat(right_digits=2,positive=True,min_value=2.00,max_value=10000.00)]
    xyz['amount'].append(fake_amaount)
    fake_amaount=[fake.date_time_ad(start_datetime=datetime.datetime(2022,9,14)),fake.date_time_ad(start_datetime=datetime.datetime(2022,9,14))]
    xyz['timestamp'].append(fake_amaount)

In [18]:
new_data_frame=pd.DataFrame(xyz) # yeni data frame oluşturuyorum


new_data_frame=new_data_frame[['from_customer','to_customer','amount','timestamp']]

In [19]:
new_data_frame.head()

,from_customer,to_customer,amount,timestamp
0,FRM-164582,TO-188513,"[1134.5, 9835.86]","[2022-10-06 11:09:39, 2022-10-14 14:07:32]"
1,FRM-169830,TO-188513,"[2512.12, 1182.38]","[2022-09-25 01:21:05, 2022-10-04 14:06:29]"
2,FRM-169830,TO-188513,"[5127.17, 9742.36]","[2022-10-27 13:04:27, 2022-10-27 02:11:03]"
3,FRM-169830,TO-188513,"[1706.2, 6148.32]","[2022-09-30 08:06:57, 2022-10-06 09:41:04]"
4,FRM-169830,TO-188513,"[6443.54, 7259.73]","[2022-09-22 10:06:33, 2022-09-22 14:51:14]"

In [20]:
just_id_data = defaultdict(list)

row_number=int(input("Please write the number you wish to see the row size, DON'T CRASH ME!"))

In [21]:
for i in range(row_number):
    just_id_data['from_customer'].append(fake.bothify(text='1#####'))
    just_id_data['amount'].append(fake.pyfloat(right_digits=2,positive=True,min_value=2.00,max_value=10000.00))
    just_id_data['timestamp'].append(fake.date_time_ad(start_datetime=datetime.datetime(2022,9,14)))
    
just_id_data['to_customer']=just_id_data['from_customer']

In [22]:
jdf=pd.DataFrame(just_id_data)
jdf=jdf[['from_customer','to_customer','amount','timestamp']]

In [23]:
jdf.head()

  from_customer to_customer   amount           timestamp
0        110773      110773  3488.59 2022-10-16 19:13:27
1        185235      185235  7452.78 2022-09-30 01:30:15
2        124558      124558  4444.52 2022-09-30 20:19:22

In [24]:
id_from_customer=list(jdf["from_customer"])#from_customer adlı sütünü listeye çevirdim

id_to_customer=list(jdf["to_customer"])#to_customer adlı sütünü listeye çevirdim

In [25]:
just_id_from_customer=[] # yeni data frame '  e  eklemek içni yeni from_custormer listem 
just_id_to_customer=[]# yeni data frame '  e  eklemek içni yeni to_ custormer listem
just_id_mount=[] 
just_id_timestamp=[]

In [26]:
for i in range(len(df)): # df nin uzunluğu kadar bir döngü yapiyorum
    rand_numb=random.randint(1,10)  # rastgele random sayi üretiyorum ki from_customer ' random sayida aktivasyonu olsun
   
    id_from_customer_sp=id_from_customer[i]
    f_c_s=''.join(id_from_customer_sp)
    to_customer_id=[]
    mount_id=[]
    timestamp_id=[]
    for j in range(rand_numb): #random sayiyla döngü kuruyorum 
       
       
        
         #to_customer listesinden random seçiyorum 
        # ayni müşteri kendine göndermemesi iiçin seçimi parçaliyorum
        
        choices_sp=''.join(random.choices(id_to_customer))
        # ayni müşteri kendine göndermemesi id leri  kiyasliyorum eğer ayniysa döngüye devam ediyor 
        if (f_c_s== choices_sp):
            
            continue
        to_customer_id.append(choices_sp)
        mount_id.append(fake.pyfloat(right_digits=2,positive=True,min_value=2.00,max_value=10000.00))
        timestamp_id.append(fake.date_time_ad(start_datetime=datetime.datetime(2022,9,14)))
       
        

         
       
        
    
    if len(just_id_from_customer)==len(df): # df nin uzunluğuna eşit olunca çikmasi lazim
            break
    just_id_from_customer.append(f_c_s) # ana listeden yeni listeye random sayisi kadar  aynisindan ekliyo ki gönderenle alan eşit olsun
    
        
    if len(just_id_to_customer)==len(df):
            break
    # random seçtiğimiz ögeyi yeni to_custoemr listesine ekliyoruz
    just_id_to_customer.append(to_customer_id)
    just_id_mount.append(mount_id)
    just_id_timestamp.append(timestamp_id)
     # random seçtiğimiz ögeyi yeni to_custoemr listesine ekliyoruz
    del(to_customer_id)

In [27]:

jt_id= defaultdict(list)

In [28]:
jt_id['from_customer']=just_id_from_customer
jt_id['to_customer']=just_id_to_customer
jt_id['amount']=just_id_mount
jt_id['timestamp']=just_id_timestamp

In [29]:
jd_id_df=pd.DataFrame(jt_id)
jd_id_df=jd_id_df[['from_customer','to_customer','amount','timestamp']]

In [30]:
jd_id_df

,from_customer,to_customer,amount,timestamp
0,110773,"[185235, 124558, 185235]","[3147.6, 598.93, 4873.23]","[2022-10-30 14:27:11, 2022-09-21 00:30:36, 202..."
1,185235,"[124558, 110773, 110773, 124558, 110773, 110773]","[4645.17, 7942.38, 5224.22, 8891.19, 9127.1, 3...","[2022-10-17 20:11:17, 2022-09-21 01:17:04, 202..."
2,124558,"[185235, 110773, 110773, 185235, 110773, 11077...","[3342.94, 5863.42, 477.34, 227.55, 4704.85, 66...","[2022-09-19 05:23:20, 2022-09-25 06:12:44, 202..."

#Neo4j

In [31]:
jd_id_df

,from_customer,to_customer,amount,timestamp
0,110773,"[185235, 124558, 185235]","[3147.6, 598.93, 4873.23]","[2022-10-30 14:27:11, 2022-09-21 00:30:36, 202..."
1,185235,"[124558, 110773, 110773, 124558, 110773, 110773]","[4645.17, 7942.38, 5224.22, 8891.19, 9127.1, 3...","[2022-10-17 20:11:17, 2022-09-21 01:17:04, 202..."
2,124558,"[185235, 110773, 110773, 185235, 110773, 11077...","[3342.94, 5863.42, 477.34, 227.55, 4704.85, 66...","[2022-09-19 05:23:20, 2022-09-25 06:12:44, 202..."

In [32]:
from neo4j import GraphDatabase

In [36]:
new_df=jd_id_df
transaction_info=new_df.values.tolist()
transaction_info

[['110773',
  ['185235', '124558', '185235'],
  [3147.6, 598.93, 4873.23],
  [datetime.datetime(2022, 10, 30, 14, 27, 11),
   datetime.datetime(2022, 9, 21, 0, 30, 36),
   datetime.datetime(2022, 10, 11, 7, 7, 53)]],
 ['185235',
  ['124558', '110773', '110773', '124558', '110773', '110773'],
  [4645.17, 7942.38, 5224.22, 8891.19, 9127.1, 3443.44],
  [datetime.datetime(2022, 10, 17, 20, 11, 17),
   datetime.datetime(2022, 9, 21, 1, 17, 4),
   datetime.datetime(2022, 10, 18, 14, 5, 55),
   datetime.datetime(2022, 10, 6, 10, 10, 12),
   datetime.datetime(2022, 9, 28, 4, 49, 43),
   datetime.datetime(2022, 10, 1, 17, 5, 9)]],
 ['124558',
  ['185235', '110773', '110773', '185235', '110773', '110773', '110773'],
  [3342.94, 5863.42, 477.34, 227.55, 4704.85, 6669.52, 8210.48],
  [datetime.datetime(2022, 9, 19, 5, 23, 20),
   datetime.datetime(2022, 9, 25, 6, 12, 44),
   datetime.datetime(2022, 9, 24, 7, 47, 9),
   datetime.datetime(2022, 10, 19, 6, 13),
   datetime.datetime(2022, 10, 17, 4, 14, 14),
   datetime.datetime(2022, 10, 8, 3, 55, 10),
   datetime.datetime(2022, 9, 17, 9, 10, 8)]]]

In [63]:
atim=[]

for element in transaction_info:
    for block in range(len(element)):
        if block==0:
            if element[block] not in atim:
                atim.append(element[block])
                continue
        else:
            for j in range(len(element[block])):
                print(element[j])

110773
['185235', '124558', '185235']
[3147.6, 598.93, 4873.23]
110773
['185235', '124558', '185235']
[3147.6, 598.93, 4873.23]
110773
['185235', '124558', '185235']
[3147.6, 598.93, 4873.23]
185235
['124558', '110773', '110773', '124558', '110773', '110773']
[4645.17, 7942.38, 5224.22, 8891.19, 9127.1, 3443.44]
[datetime.datetime(2022, 10, 17, 20, 11, 17), datetime.datetime(2022, 9, 21, 1, 17, 4), datetime.datetime(2022, 10, 18, 14, 5, 55), datetime.datetime(2022, 10, 6, 10, 10, 12), datetime.datetime(2022, 9, 28, 4, 49, 43), datetime.datetime(2022, 10, 1, 17, 5, 9)]

IndexError: list index out of range

In [38]:
transaction_info[0][0]

'110773'

In [44]:
uri = "neo4j://localhost:7687"
driver = GraphDatabase.driver(uri, auth=("neo4j", "test"))

def clear_db(tx):
    tx.run("MATCH(n) Detach Delete n")

def create_customer(tx, customer_id):
    tx.run("CREATE (c1:customer {name: $name, customer_id: $id})",name='customer', id=customer_id)

#def create_customer2(tx, to_customer):
 #   tx.run("CREATE (c2:Customer2 {name: $name, customer_id: $id})",name='customer2', id=to_customer)

#def create_transaction(tx, from_customer, to_customer,amount,timestamp):
#    tx.run("MATCH (c1:Customer) WHERE c1.customer_id = $id "
#           "CREATE (c1)-[:Transaction{amount:$amount,time:$timestamp}]->(c2:Customer {customer_id: $otherid})",
#           id=from_customer, otherid=to_customer,amount=amount,timestamp=timestamp)

def create_trans(tx,customer_id,other_customer_id,amount,timestamp):
    tx.run("MATCH (c1:customer),(c2:customer) "
    "Where c1.customer_id= $id and c2.customer_id= $otherid "
    "Create (c1)-[t:Transaction{amount: $amount, time: $timestamp}]->(c2)",
    id=customer_id,otherid=other_customer_id,amount=amount,timestamp=timestamp)

        
#def deneme(tx,from_customer,to_customer,amount,timestamp):
#    tx.run("MATCH (c:Customer) WHERE c.customer_id=$id "
#    "MATCH (c2:Customer) WHERE c2.customer_id=$receiverid "
#    "Merge (c)-[:Transaction{amount:$amount,time:$timestamp}]->(c2)",
#    id=from_customer,receiverid=to_customer,amount=amount,timestamp=timestamp)

with driver.session() as session:

    session.execute_write(clear_db)
    #Create all nodes Customer 1 and Customer 2 create relationship where there is only one relationship

    for i in range(len(transaction_info)):
        session.write_transaction(create_customer, str(transaction_info[i][0]))
        #for i in range(len(transaction_info[i][1])):
        #    session.write_transaction(create_trans,str(transaction_info[i][1][i]),str(transaction_info[i][2][i]),str(transaction_info[i][3][i]))

    
    for block in transaction_info:
        for element_piece in block:
            for j in range(len(element_piece)+1):
                print(transaction_info[j][0])
                #if j==0:
                #    continue
                session.write_transaction(create_trans,str(transaction_info[j][0]),str(transaction_info[j][1][j]),str(transaction_info[j][2][j]),str(transaction_info[j][3][j]))
    #for i in transaction_info:
    #    session.write_transaction(create_customer, str(i[0]))
    #    session.write_transaction(create_customer, str(i[1]))
    #    session.write_transaction(deneme, str(i[0]), str(i[1]),str(i[2]),str(i[3]))

        #session.write_transaction(create_transaction, str(i[0]), str(i[1]))
        #session.write_transaction(create_transaction, str(i[0]), "Carl")

driver.close()

/tmp/ipykernel_55193/3151252695.py:37: DeprecationWarning: write_transaction has been renamed to execute_write
  session.write_transaction(create_customer, str(transaction_info[i][0]))

146297
118308

IndexError: list index out of range