In [128]:
import pandas as pd
import numpy as np
from faker import Faker
from collections import defaultdict
from sqlalchemy import create_engine
import datetime
import random
import re

In [129]:
from numpy import integer


fake=Faker()

fake_data = defaultdict(list)

row_number=int(input("Please write the number you wish to see the row size, DON'T CRASH ME!"))

In [ ]:
type(fake_data)

#Functions

#Fake data is generated.

In [ ]:

for i in range(row_number):
    fake_data['from_customer'].append(fake.bothify(text='FRM-1#####'))
    fake_data['amount'].append(fake.pyfloat(right_digits=2,positive=True,min_value=2.00,max_value=10000.00))
    fake_data['timestamp'].append(fake.date_time_ad(start_datetime=datetime.datetime(2022,9,14)))

In [ ]:
#To_customer feauture
templist=[]
#check the key value from list_converted defaultdict
for k,v in list(fake_data.items()):
    if k=='from_customer':
        #Change FRM tag to TO tag
        for item in v:
                splited_item=item.split('-')
                splited_item[0]='TO'
                concat_item='-'.join(splited_item)
                templist.append(concat_item)#item
#To_customer yapısında yer değişikliği random
random.shuffle(templist)
fake_data['to_customer']=templist

In [ ]:
df=pd.DataFrame(fake_data)
df=df[['from_customer','to_customer','amount','timestamp']] 
#dropped_df=df.drop(['amount','timestamp'], axis=1)

In [ ]:
try:
    equal=any(df['from_customer'].str.extract('(\d+)')==df['to_customer'].str.extract('(\d+)'))
except:
    print("Same value error, please check your rows that may be have a same value")

In [ ]:
#type(df_manipulation['from_customer'].str.extract('(\d+)')==df_manipulation['to_customer'].str.extract('(\d+)'))
#GET INDEX NUMBER:
    #df_manipulation[df['from_customer']=='FRM-757739'].index.item() 
#Seperate the numbers:
    #df_manipulation['from_customer'].str.extract('(\d+)'))
    #df_manipulation['to_customer'].str.extract('(\d+)'))
df.head()

In [ ]:
from_or_to={'from_customer':'from_customer',
                    'to_customer':'to_customer'}
for i in range(len(from_or_to)):
            list(from_or_to.keys())[i]=df[list(from_or_to.keys())[i]].to_list()

Emre Kaya

In [ ]:
from_customer=list(df["from_customer"])#from_customer adlı sütünü listeye çevirdim

to_customer=list(df["to_customer"])#to_customer adlı sütünü listeye çevirdim

In [ ]:
new_from_customer=[] # yeni data frame '  e  eklemek içni yeni from_custormer listem 
new_to_customer=[]# yeni data frame '  e  eklemek içni yeni to_ custormer listem

In [130]:
loop=(len(df)*10)

In [ ]:

for i in range(loop): # df nin uzunluğu kadar bir döngü yapıyorum
    rand_numb=random.randint(1,10)  # rastgele random sayı üretiyorum ki from_customer ' random sayıda aktivasyonu olsun
    print("i=",i,"- rand_numb=",rand_numb)
    print("ilk for new_from_customer",len(new_from_customer))
    from_customer_sp=random.choices(from_customer)
    f_c_s=str(from_customer_sp)

    for j in range(rand_numb): #random sayıyla döngü kuruyorum 
       
        print("j=",j)
        choices=random.choices(to_customer) #to_customer listesinden random seçiyorum 
        # aynı müşteri kendine göndermemesi iiçin seçimi parçalıyorum
        
        choices_sp=str(choices) 

        choices_sp_jo=choices_sp.split("-") 

        number_to_customer=choices_sp_jo[1]


        
        number_from_customer=f_c_s.split("-")[1]

        # aynı müşteri kendine göndermemesi id leri  kıyaslıyorum eğer aynıysa döngüye devam ediyor 
        if (number_from_customer[1]== number_to_customer[1]):
            print("AYNI")
            continue
        
        
        if len(new_from_customer)==loop: # df nin uzunluğuna eşit olunca çıkması lazım
            break
        new_from_customer.append(from_customer_sp[0]) # ana listeden yeni listeye random sayısı kadar  aynısından ekliyo ki gönderenle alan eşit olsun
        print("2.for new_from_customer",len(new_from_customer))
        
        if len(new_to_customer)==loop:
            break
        new_to_customer.append(choices[0]) # random seçtiğimiz ögeyi yeni to_custoemr listesine ekliyoruz
        
        
print(new_to_customer)

In [ ]:
amount=list(df["amount"]) # df de ki amount u listeye dönüştürüyorum
timestamp=list(df["timestamp"]) #df de ki timestamp u listeye dönüştürüyorum

In [ ]:
xyz= defaultdict(list)

In [ ]:
# listeleri yeni data frame aktarıyorum
xyz['from_customer']=new_from_customer
xyz['to_customer']=new_to_customer

In [ ]:
for i in range(loop):
    fake_amaount=[fake.pyfloat(right_digits=2,positive=True,min_value=2.00,max_value=10000.00),fake.pyfloat(right_digits=2,positive=True,min_value=2.00,max_value=10000.00)]
    xyz['amount'].append(fake_amaount)
    fake_amaount=[fake.date_time_ad(start_datetime=datetime.datetime(2022,9,14)),fake.date_time_ad(start_datetime=datetime.datetime(2022,9,14))]
    xyz['timestamp'].append(fake_amaount)

In [ ]:
new_data_frame=pd.DataFrame(xyz) # yeni data frame oluşturuyorum


new_data_frame=new_data_frame[['from_customer','to_customer','amount','timestamp']]

In [ ]:
new_data_frame.head()

In [ ]:
new_data_frame.to_csv("benemre")

In [131]:
just_ıd_data = defaultdict(list)

row_number=int(input("Please write the number you wish to see the row size, DON'T CRASH ME!"))

In [132]:
for i in range(row_number):
    just_ıd_data['from_customer'].append(fake.bothify(text='1#####'))
    just_ıd_data['amount'].append(fake.pyfloat(right_digits=2,positive=True,min_value=2.00,max_value=10000.00))
    just_ıd_data['timestamp'].append(fake.date_time_ad(start_datetime=datetime.datetime(2022,9,14)))
    
just_ıd_data['to_customer']=just_ıd_data['from_customer']

In [133]:
jdf=pd.DataFrame(just_ıd_data)
jdf=jdf[['from_customer','to_customer','amount','timestamp']]

In [134]:
jdf.head()

  from_customer to_customer   amount           timestamp
0        194755      194755  3518.28 2022-10-09 08:21:30
1        111164      111164  3268.40 2022-10-22 20:24:31
2        186848      186848  7044.91 2022-10-31 16:20:14
3        143688      143688  8247.93 2022-10-29 12:45:59
4        199981      199981  2023.37 2022-09-23 15:00:54

In [135]:
ıd_from_customer=list(jdf["from_customer"])#from_customer adlı sütünü listeye çevirdim

ıd_to_customer=list(jdf["to_customer"])#to_customer adlı sütünü listeye çevirdim

In [136]:
just_ıd_from_customer=[] # yeni data frame '  e  eklemek içni yeni from_custormer listem 
just_ıd_to_customer=[]# yeni data frame '  e  eklemek içni yeni to_ custormer listem
just_ıd_mount=[] 
just_ıd_timestamp=[]

In [137]:
for i in range(loop): # df nin uzunluğu kadar bir döngü yapıyorum
    rand_numb=random.randint(1,10)  # rastgele random sayı üretiyorum ki from_customer ' random sayıda aktivasyonu olsun
   
    ıd_from_customer_sp=random.choices(ıd_from_customer)
    f_c_s=''.join(ıd_from_customer_sp)
    to_customer_ıd=[]
    mount_ıd=[]
    timestamp_ıd=[]
    for j in range(rand_numb): #random sayıyla döngü kuruyorum 
       
       
        
         #to_customer listesinden random seçiyorum 
        # aynı müşteri kendine göndermemesi iiçin seçimi parçalıyorum
        
        choices_sp=''.join(random.choices(ıd_to_customer))
        # aynı müşteri kendine göndermemesi id leri  kıyaslıyorum eğer aynıysa döngüye devam ediyor 
        if (f_c_s== choices_sp):
            
            continue
        to_customer_ıd.append(choices_sp)
        mount_ıd.append(fake.pyfloat(right_digits=2,positive=True,min_value=2.00,max_value=10000.00))
        timestamp_ıd.append(fake.date_time_ad(start_datetime=datetime.datetime(2022,9,14)))
       
        

         
       
        
    
    if len(just_ıd_from_customer)==loop: # df nin uzunluğuna eşit olunca çıkması lazım
            break
    just_ıd_from_customer.append(f_c_s) # ana listeden yeni listeye random sayısı kadar  aynısından ekliyo ki gönderenle alan eşit olsun
    
        
    if len(just_ıd_to_customer)==loop:
            break
    # random seçtiğimiz ögeyi yeni to_custoemr listesine ekliyoruz
    just_ıd_to_customer.append(to_customer_ıd)
    just_ıd_mount.append(mount_ıd)
    just_ıd_timestamp.append(timestamp_ıd)
     # random seçtiğimiz ögeyi yeni to_custoemr listesine ekliyoruz
    del(to_customer_ıd)

In [138]:

jt_ıd= defaultdict(list)

In [141]:
jt_ıd['from_customer']=just_ıd_from_customer
jt_ıd['to_customer']=just_ıd_to_customer
jt_ıd['amount']=just_ıd_mount
jt_ıd['timestamp']=just_ıd_timestamp

In [142]:
jd_ıd_df=pd.DataFrame(jt_ıd)
jd_ıd_df=jd_ıd_df[['from_customer','to_customer','amount','timestamp']]

In [145]:
jd_ıd_df.head()

,from_customer,to_customer,amount,timestamp
0,110551,"[103989, 140234, 129983]","[7677.47, 2919.91, 7216.27]","[2022-10-24 18:23:55, 2022-09-18 11:00:45, 202..."
1,160858,"[160536, 158522, 194755]","[3768.96, 9698.65, 9579.2]","[2022-09-16 01:33:21, 2022-10-09 20:11:04, 202..."
2,120307,"[119835, 119835, 194755]","[1018.71, 4005.64, 691.54]","[2022-10-28 02:12:01, 2022-09-29 23:26:08, 202..."
3,160536,"[144354, 127065, 177703]","[1637.28, 7462.65, 7966.23]","[2022-10-10 06:38:10, 2022-10-23 22:50:50, 202..."
4,128153,"[176820, 188701, 199822, 194755, 129983, 16053...","[3230.52, 6294.43, 3475.66, 8033.17, 7155.54, ...","[2022-09-20 12:27:25, 2022-09-28 05:27:16, 202..."

#Neo4j

In [ ]:
from neo4j import GraphDatabase

In [ ]:
new_df=new_data_frame
transaction_info=new_df.values.tolist()

In [ ]:
uri = "neo4j://localhost:7687"
driver = GraphDatabase.driver(uri, auth=("neo4j", "test"))

def clear_db(tx):
    tx.run("MATCH(n) Detach Delete n")

def create_customer(tx, from_customer):
    tx.run("CREATE (c1:Customer {name: $name, customer_id: $id})",name='customer', id=from_customer)

#def create_customer2(tx, to_customer):
 #   tx.run("CREATE (c2:Customer2 {name: $name, customer_id: $id})",name='customer2', id=to_customer)

def create_transaction(tx, from_customer, to_customer,amount,timestamp):
    tx.run("MATCH (c1:Customer) WHERE c1.customer_id = $id "
           "CREATE (c1)-[:Transaction{amount:$amount,time:$timestamp}]->(c2:Customer {customer_id: $otherid})",
           id=from_customer, otherid=to_customer,amount=amount,timestamp=timestamp)

def deneme(tx,from_customer,to_customer,amount,timestamp):
    tx.run("MATCH (c:Customer) WHERE c.customer_id=$id "
    "MATCH (c2:Customer) WHERE c2.customer_id=$receiverid "
    "Merge (c)-[:Transaction{amount:$amount,time:$timestamp}]->(c2)",
    id=from_customer,receiverid=to_customer,amount=amount,timestamp=timestamp)

with driver.session() as session:

    session.execute_write(clear_db)
    #Create all nodes Customer 1 and Customer 2 create relationship where there is only one relationship
    for i in transaction_info:
        session.write_transaction(create_customer, str(i[0]))
        session.write_transaction(create_customer, str(i[1]))
        session.write_transaction(deneme, str(i[0]), str(i[1]),str(i[2]),str(i[3]))

        #session.write_transaction(create_transaction, str(i[0]), str(i[1]))
        #session.write_transaction(create_transaction, str(i[0]), "Carl")

driver.close()