In [3]:
import pandas as pd
import numpy as np
from faker import Faker
from collections import defaultdict
from sqlalchemy import create_engine
import datetime
import random
import re

In [4]:
from numpy import integer


fake=Faker()

fake_data = defaultdict(list)

row_number=int(input("Please write the number you wish to see the row size, DON'T CRASH ME!"))

#Functions

#Fake data is generated.

In [5]:

for i in range(row_number):
    fake_data['customer1'].append(fake.bothify(text='16######'))
    fake_data['customer2'].append(fake.bothify(text='16######'))
    fake_data['amount'].append(fake.pyfloat(right_digits=2,positive=True,min_value=2.00,max_value=10000.00))
    fake_data['timestamp'].append(fake.date_time_ad(start_datetime=datetime.datetime(2022,9,14)))

In [6]:
#To_customer feauture
#templist=[]
#check the key value from list_converted defaultdict
#for v in list(fake_data.items()):
#    if k=='from_customer':
#        #Change FRM tag to TO tag
#     for item in v:
#                splited_item=item.split('-')
#                splited_item[0]='TO'
#               concat_item='-'.join(splited_item)
#               templist.append(item)
#To_customer yapısında yer değişikliği random
#Dict values where 0 shuffle
#templist=random.shuffle(templsit)

#fake_data['to_customer']=random.shuffle(fake_data.values())
#templist=list(fake_data.values())[0]
#random.shuffle(templist)
#fake_data['to_customer']=templist

In [7]:
df=pd.DataFrame(fake_data)

df=df[['customer1','customer2','amount','timestamp']]
#dropped_df=df.drop(['amount','timestamp'], axis=1)
df

   customer1 customer2   amount           timestamp
0   16992001  16148594  6481.44 2022-09-25 20:59:38
1   16101191  16801415  8605.91 2022-10-30 12:16:12
2   16984343  16472362  2125.59 2022-10-13 20:00:19
3   16965922  16774242    99.33 2022-09-30 12:13:17
4   16809557  16700587  3123.92 2022-09-27 10:19:23
5   16574738  16655480  2652.94 2022-10-29 04:02:02
6   16862977  16986541  4648.78 2022-10-10 13:47:50
7   16478307  16760374  1109.42 2022-10-02 16:46:02
8   16840849  16532893  4762.28 2022-10-17 19:06:33
9   16945838  16761759  7971.70 2022-09-15 11:03:07
10  16655074  16198535  4939.49 2022-11-01 00:24:01
11  16615200  16432634  8257.11 2022-10-14 12:58:02
12  16765509  16243304   571.10 2022-10-26 09:14:07
13  16668295  16263226   611.41 2022-10-19 19:09:34
14  16786048  16836374  7396.21 2022-10-26 05:57:55
15  16232504  16043030  6351.23 2022-09-24 23:38:36
16  16346610  16789566  4178.24 2022-09-21 03:59:36
17  16622599  16405251  7413.96 2022-10-11 01:43:19
18  16858443  16550425  3969.18 2022-10-11 05:59:47
19  16503189  16134247  2724.54 2022-10-14 08:01:18
20  16477676  16443804  6830.30 2022-09-15 17:47:24
21  16214571  16448494  6251.87 2022-09-22 13:17:18
22  16167557  16912432  6637.60 2022-09-16 13:37:33
23  16772491  16302300  5126.90 2022-10-01 03:21:46
24  16636586  16875613  2787.57 2022-10-08 10:08:48
25  16680189  16550656  7793.67 2022-10-05 08:57:28
26  16798507  16857429  7336.83 2022-10-13 23:27:45
27  16384710  16277344  3258.75 2022-10-04 15:41:39
28  16524465  16405096  3695.22 2022-09-15 15:22:41
29  16591825  16441021  7314.51 2022-09-19 04:02:25
30  16649858  16948389  2029.46 2022-09-20 22:16:41
31  16002098  16953834  5465.17 2022-10-25 00:07:42
32  16633696  16070452  3538.11 2022-09-16 14:42:54
33  16865879  16148196  5417.55 2022-09-18 02:27:37
34  16446344  16299879  7523.60 2022-10-16 06:16:09
35  16876719  16573213  2476.68 2022-09-18 20:32:10
36  16798373  16571451  2493.53 2022-10-18 05:43:41
37  16368836  16152407  8675.70 2022-09-22 04:41:13
38  16946887  16847855  3439.21 2022-09-18 03:01:59
39  16531010  16294364  4372.36 2022-09-18 04:23:55
40  16617513  16975067  5853.31 2022-09-24 01:43:11
41  16248181  16157756  7751.35 2022-10-14 18:27:40
42  16152415  16922240  8153.80 2022-10-27 12:05:33
43  16482915  16593783  8518.71 2022-10-30 10:52:21
44  16352677  16457180  4930.92 2022-10-17 10:11:57
45  16191489  16492196   315.34 2022-10-11 01:18:39
46  16191765  16031866  9353.72 2022-10-16 22:54:35
47  16477069  16738036  8417.82 2022-10-28 21:24:29
48  16263929  16775761   260.95 2022-10-20 23:50:18
49  16317447  16402725  4566.40 2022-10-13 06:57:48

In [8]:
try:
    any(df['customer1']==df['customer2'])
except:
    print("Same value error")

for i in range(len(df)):
    if df['customer1'][i]==df['customer2'][i]:
        df['customer2'][i]=fake.bothify(text='16######')

In [9]:
#type(df_manipulation['from_customer'].str.extract('(\d+)')==df_manipulation['to_customer'].str.extract('(\d+)'))
#GET INDEX NUMBER:
    #df_manipulation[df['from_customer']=='FRM-757739'].index.item() 
#Seperate the numbers:
    #df_manipulation['from_customer'].str.extract('(\d+)'))
    #df_manipulation['to_customer'].str.extract('(\d+)'))

df

   customer1 customer2   amount           timestamp
0   16992001  16148594  6481.44 2022-09-25 20:59:38
1   16101191  16801415  8605.91 2022-10-30 12:16:12
2   16984343  16472362  2125.59 2022-10-13 20:00:19
3   16965922  16774242    99.33 2022-09-30 12:13:17
4   16809557  16700587  3123.92 2022-09-27 10:19:23
5   16574738  16655480  2652.94 2022-10-29 04:02:02
6   16862977  16986541  4648.78 2022-10-10 13:47:50
7   16478307  16760374  1109.42 2022-10-02 16:46:02
8   16840849  16532893  4762.28 2022-10-17 19:06:33
9   16945838  16761759  7971.70 2022-09-15 11:03:07
10  16655074  16198535  4939.49 2022-11-01 00:24:01
11  16615200  16432634  8257.11 2022-10-14 12:58:02
12  16765509  16243304   571.10 2022-10-26 09:14:07
13  16668295  16263226   611.41 2022-10-19 19:09:34
14  16786048  16836374  7396.21 2022-10-26 05:57:55
15  16232504  16043030  6351.23 2022-09-24 23:38:36
16  16346610  16789566  4178.24 2022-09-21 03:59:36
17  16622599  16405251  7413.96 2022-10-11 01:43:19
18  16858443  16550425  3969.18 2022-10-11 05:59:47
19  16503189  16134247  2724.54 2022-10-14 08:01:18
20  16477676  16443804  6830.30 2022-09-15 17:47:24
21  16214571  16448494  6251.87 2022-09-22 13:17:18
22  16167557  16912432  6637.60 2022-09-16 13:37:33
23  16772491  16302300  5126.90 2022-10-01 03:21:46
24  16636586  16875613  2787.57 2022-10-08 10:08:48
25  16680189  16550656  7793.67 2022-10-05 08:57:28
26  16798507  16857429  7336.83 2022-10-13 23:27:45
27  16384710  16277344  3258.75 2022-10-04 15:41:39
28  16524465  16405096  3695.22 2022-09-15 15:22:41
29  16591825  16441021  7314.51 2022-09-19 04:02:25
30  16649858  16948389  2029.46 2022-09-20 22:16:41
31  16002098  16953834  5465.17 2022-10-25 00:07:42
32  16633696  16070452  3538.11 2022-09-16 14:42:54
33  16865879  16148196  5417.55 2022-09-18 02:27:37
34  16446344  16299879  7523.60 2022-10-16 06:16:09
35  16876719  16573213  2476.68 2022-09-18 20:32:10
36  16798373  16571451  2493.53 2022-10-18 05:43:41
37  16368836  16152407  8675.70 2022-09-22 04:41:13
38  16946887  16847855  3439.21 2022-09-18 03:01:59
39  16531010  16294364  4372.36 2022-09-18 04:23:55
40  16617513  16975067  5853.31 2022-09-24 01:43:11
41  16248181  16157756  7751.35 2022-10-14 18:27:40
42  16152415  16922240  8153.80 2022-10-27 12:05:33
43  16482915  16593783  8518.71 2022-10-30 10:52:21
44  16352677  16457180  4930.92 2022-10-17 10:11:57
45  16191489  16492196   315.34 2022-10-11 01:18:39
46  16191765  16031866  9353.72 2022-10-16 22:54:35
47  16477069  16738036  8417.82 2022-10-28 21:24:29
48  16263929  16775761   260.95 2022-10-20 23:50:18
49  16317447  16402725  4566.40 2022-10-13 06:57:48

In [10]:
from_customer=list(df["customer1"])#from_customer adlı sütünü listeye çevrildi.

to_customer=list(df["customer2"])#to_customer adlı sütünü listeye çevrildi.

new_from_customer=[] # yeni data frame '  e  eklemek içni yeni from_custormer listesi 
new_to_customer=[]# yeni data frame '  e  eklemek içni yeni to_ custormer listesi

In [11]:
for i in range(len(df)): # df nin uzunluğu kadar bir döngü
    rand_numb=random.randint(1,5)  # rastgele random sayı üretiliyor ki from_customer ' random sayıda aktivasyonu olsun
    print("i=",i,"- rand_numb=",rand_numb)
    print("ilk for new_from_customer",len(new_from_customer))


    for j in range(rand_numb): #random sayıyla döngü  
       
        print("j=",j)
        choices=random.choices(to_customer) #to_customer listesinden random  
        # aynı müşteri kendine göndermemesi için seçim parçalanıyor.
        choices_sp="".join(choices) 
        choices_sp_jo=choices_sp.split("-") 

        number_to_customer=choices_sp_jo[1]
        from_customer_sp=from_customer[i]
        number_from_customer=from_customer[i].split("-")[1]

        # aynı müşteri kendine göndermemesi id ler kıyaslandı eğer aynıysa döngüye devam ediyor 
        if (number_from_customer[1]== number_to_customer[1]):
            print("AYNI")
            continue
        
        
        if len(new_from_customer)==len(df): # df nin uzunluğuna eşit olunca çıkması lazım
            break
        new_from_customer.append(from_customer[i]) # ana listeden yeni listeye random sayısı kadar  aynısından ekliyo ki gönderenle alan eşit olsun
        print("2.for new_from_customer",len(new_from_customer))
        
        if len(new_to_customer)==len(df):
            break
        new_to_customer.append(str(choices[0])) # random seçtiğimiz ögeyi yeni to_custoemr listesine ekliyoruz

i= 0 - rand_numb= 2
ilk for new_from_customer 0
j= 0

IndexError: list index out of range

In [ ]:
amount=list(df["amount"]) # df de ki amount u listeye dönüştürüyorum
timestamp=list(df["timestamp"]) #df de ki timestamp u listeye dönüştürüyorum

In [ ]:
new_df=pd.DataFrame() # yeni data frame oluşturuldu.

# listeler yeni data frame aktarıldı. 
new_df['from_customer']=new_from_customer
new_df['to_customer']=new_to_customer
new_df['amount']=amount

new_df['timestamp']=timestamp

In [ ]:
from collections import defaultdict
dup_dict=defaultdict(list)

for i in range(len(new_df)+1):
    
    dup_dict[new_df.iloc[i,0]].append(new_df.iloc[i,1])
    if i >= len(new_df)-1:
            break

    if new_df.iloc[i,0]==new_df.iloc[i+1,0]:
        if new_df.iloc[i,1] in dup_dict[new_df.iloc[i,0]]:
                continue
        dup_dict[new_df.iloc[i,0]].append(new_df.iloc[i,1])
dup_dict.keys()

In [ ]:
for item in dup_dict.keys():
    a=item.split('-')[0]
print (a)

In [ ]:
new_df

#Neo4j

In [ ]:
from neo4j import GraphDatabase

In [ ]:
transaction_info=new_df.values.tolist()

In [ ]:
uri = "neo4j://localhost:7687"
driver = GraphDatabase.driver(uri, auth=("neo4j", "test"))

def clear_db(tx):
    tx.run("MATCH(n) Detach Delete n")

def create_customer(tx, from_customer):
    tx.run("CREATE (c1:Customer {name: $name, customer_id: $id})",name='customer', id=from_customer)

#def create_customer2(tx, to_customer):
 #   tx.run("CREATE (c2:Customer2 {name: $name, customer_id: $id})",name='customer2', id=to_customer)

def create_transaction(tx, from_customer, to_customer,amount,timestamp):
    tx.run("MATCH (c1:Customer) WHERE c1.customer_id = $id "
           "CREATE (c1)-[:Transaction{amount:$amount,time:$timestamp}]->(c2:Customer {customer_id: $otherid})",
           id=from_customer, otherid=to_customer,amount=amount,timestamp=timestamp)

def deneme(tx,from_customer,to_customer,amount,timestamp):
    tx.run("MATCH (c:Customer) WHERE c.customer_id=$id "
    "MATCH (c2:Customer) WHERE c2.customer_id=$receiverid "
    "Merge (c)-[:Transaction{amount:$amount,time:$timestamp}]->(c2)",
    id=from_customer,receiverid=to_customer,amount=amount,timestamp=timestamp)

with driver.session() as session:

    session.execute_write(clear_db)
    #Create all nodes Customer 1 and Customer 2 create relationship where there is only one relationship
    for i in transaction_info:
        session.write_transaction(create_customer, str(i[0]))
        session.write_transaction(create_customer, str(i[1]))
        session.write_transaction(deneme, str(i[0]), str(i[1]),str(i[2]),str(i[3]))

        #session.write_transaction(create_transaction, str(i[0]), str(i[1]))
        #session.write_transaction(create_transaction, str(i[0]), "Carl")

driver.close()