In [1]:
import pandas as pd
import numpy as np
from faker import Faker
from collections import defaultdict
from sqlalchemy import create_engine
import datetime
import random
import re

In [2]:
from numpy import integer


fake=Faker()

fake_data = defaultdict(list)

row_number=int(input("Please write the number you wish to see the row size, DON'T CRASH ME!"))

#Functions

#Fake data is generated.

In [3]:

for i in range(row_number):
    fake_data['from_customer'].append(fake.bothify(text='FRM-1#####'))
    fake_data['amount'].append(fake.pyfloat(right_digits=2,positive=True,min_value=2.00,max_value=10000.00))
    fake_data['timestamp'].append(fake.date_time_ad(start_datetime=datetime.datetime(2022,9,14)))

In [4]:
#To_customer feauture
templist=[]
#check the key value from list_converted defaultdict
for k,v in list(fake_data.items()):
    if k=='from_customer':
        #Change FRM tag to TO tag
        for item in v:
                splited_item=item.split('-')
                splited_item[0]='TO'
                concat_item='-'.join(splited_item)
                templist.append(concat_item)#item
#To_customer yapısında yer değişikliği random
random.shuffle(templist)
fake_data['to_customer']=templist

In [5]:
df=pd.DataFrame(fake_data)
df=df[['from_customer','to_customer','amount','timestamp']]
#dropped_df=df.drop(['amount','timestamp'], axis=1)

In [6]:
try:
    equal=any(df['from_customer'].str.extract('(\d+)')==df['to_customer'].str.extract('(\d+)'))
except:
    print("Same value error, please check your rows that may be have a same value")

In [7]:
#type(df_manipulation['from_customer'].str.extract('(\d+)')==df_manipulation['to_customer'].str.extract('(\d+)'))
#GET INDEX NUMBER:
    #df_manipulation[df['from_customer']=='FRM-757739'].index.item() 
#Seperate the numbers:
    #df_manipulation['from_customer'].str.extract('(\d+)'))
    #df_manipulation['to_customer'].str.extract('(\d+)'))
df.head()

  from_customer to_customer   amount           timestamp
0    FRM-174530   TO-166062  8439.79 2022-09-25 18:42:39
1    FRM-171122   TO-132008  8398.99 2022-09-18 14:13:52
2    FRM-139838   TO-130723  2385.14 2022-10-18 08:26:55
3    FRM-130468   TO-101976  1228.61 2022-10-12 04:38:25
4    FRM-189541   TO-112698  6531.12 2022-09-25 21:38:50

In [8]:
#from_or_to={'from_customer':'from_customer',
                    #'to_customer':'to_customer'}
#for i in range(len(from_or_to)):
            #list(from_or_to.keys())[i]=df[list(from_or_to.keys())[i]].to_list()

In [9]:
def pick_random_elements(dataFrame):
        from_or_to=['from_customer','to_customer']
        for i in range(len(dataFrame)):
                randomized_customer=dataFrame.loc[:,random.choice(from_or_to)].iat[random.randint(5,len(dataFrame)-1)]
                tweaked_customer_list.append(randomized_customer)
                #If list is not unique start from beginning
                
                if not np.unique(tweaked_customer_list).size == len(tweaked_customer_list):
                        tweaked_customer_list.clear()
        if not tweaked_customer_list:
            pick_random_elements(dataFrame)


            
def splitString(str):
    alpha = ""
    num = ""
    special = ""
    for i in range(len(str)):
        if (str[i].isdigit()):
            num = num+ str[i]
        elif((str[i] >= 'A' and str[i] <= 'Z') or
             (str[i] >= 'a' and str[i] <= 'z')):
            alpha += str[i]
        else:
            special += str[i]
 
    return(num)


def sum_of_numbers(number):
    if number>9:
        ones=number%10
        tens=(number-ones)/10
        number=ones+tens
    return int(number)

def split_elements(customer_list):
    for customer in customer_list:
        if len(customer.split('-')[0])<=2:
            receiver_list.append(customer)
        else:
            giver_list.append(customer)

receiver_list=[]
giver_list=[]
tweaked_customer_list=[]

In [10]:
pick_random_elements(df)
print(tweaked_customer_list)
split_elements(tweaked_customer_list)
df.head()

['FRM-174681', 'FRM-151419', 'TO-125808', 'TO-133366']

  from_customer to_customer   amount           timestamp
0    FRM-174530   TO-166062  8439.79 2022-09-25 18:42:39
1    FRM-171122   TO-132008  8398.99 2022-09-18 14:13:52
2    FRM-139838   TO-130723  2385.14 2022-10-18 08:26:55
3    FRM-130468   TO-101976  1228.61 2022-10-12 04:38:25
4    FRM-189541   TO-112698  6531.12 2022-09-25 21:38:50

In [11]:
df.copy=df
df.copy.head()
for i in range(len(giver_list)*3):
    giver_list.append(giver_list[random.randint(0,len(giver_list))-1])
giver_list

['FRM-174681',
 'FRM-151419',
 'FRM-151419',
 'FRM-151419',
 'FRM-151419',
 'FRM-151419',
 'FRM-151419',
 'FRM-151419']

In [12]:
#Replace random elements in from_customer
def random_relationship(getlist):
    i=1
    for element in getlist:
            df.copy['from_customer'] = df['from_customer'].replace([df.loc[i+1, 'from_customer'],element])
            i+=1
            #random.randint(i,len(df))

In [13]:
random_relationship(giver_list)
giver_list

['FRM-174681',
 'FRM-151419',
 'FRM-151419',
 'FRM-151419',
 'FRM-151419',
 'FRM-151419',
 'FRM-151419',
 'FRM-151419']

In [14]:
#Get the duplicateds
df.copy['from_customer']=df.copy['from_customer'].str.extract('(\d+)')
df.copy['to_customer']=df.copy['to_customer'].str.extract('(\d+)')
dups_all = df.copy.pivot_table(columns=['from_customer'], aggfunc='size')
dups=[]
a=0
for i in dups_all.values:
    if i>1:
        dups.append(dups_all.index[a])
    a+=1
print(dups_all)

from_customer
105512    1
106909    1
109173    1
112698    2
112908    1
114358    1
119869    1
120589    1
124091    1
125173    1
125808    1
130723    2
132008    1
133366    1
138403    1
148687    1
149755    1
152322    1
154742    1
154985    1
157635    1
161046    1
162132    1
163509    1
166062    1
166690    1
166987    1
170694    1
171122    9
173724    1
174530    1
177352    1
178436    1
179047    1
180331    1
181304    1
185609    1
187503    1
192478    1
198917    1
dtype: int64

In [15]:
df_dups=df[df.copy.from_customer.isin(dups)==True]
df_final=df[df.copy.from_customer.isin(dups)==False]

In [16]:
print(df_dups)

   from_customer to_customer   amount           timestamp
1         171122      132008  8398.99 2022-09-18 14:13:52
2         171122      130723  2385.14 2022-10-18 08:26:55
3         171122      101976  1228.61 2022-10-12 04:38:25
4         171122      112698  6531.12 2022-09-25 21:38:50
5         171122      199698  7176.22 2022-09-29 00:11:10
6         171122      174530  8361.62 2022-10-13 21:07:11
7         171122      148687    41.87 2022-10-13 12:13:45
8         171122      157635  3565.53 2022-09-29 04:57:58
9         171122      154985  1679.31 2022-09-20 14:52:09
39        112698      109173  5394.95 2022-10-14 22:22:47
40        112698      125173  1267.89 2022-09-22 13:16:01
43        130723      185609  1379.00 2022-09-28 13:02:03
44        130723      114358  2888.12 2022-10-14 00:02:53

#Neo4j

In [17]:
from neo4j import GraphDatabase

In [18]:
transaction_info=df.values.tolist()
print(dups)

['112698', '130723', '171122']

In [19]:
uri = "neo4j://localhost:7687"
driver = GraphDatabase.driver(uri, auth=("neo4j", "test"))

def create_customer(tx, from_customer):
    tx.run("CREATE (c1:Customer {name: $name, customer_id: $id})",name='customer', id=from_customer)

#def create_customer2(tx, to_customer):
 #   tx.run("CREATE (c2:Customer2 {name: $name, customer_id: $id})",name='customer2', id=to_customer)

def create_transaction(tx, from_customer, to_customer,amount,timestamp):
    tx.run("MATCH (c1:Customer) WHERE c1.customer_id = $id "
           "CREATE (c1)-[:Transaction{amount:$amount,time:$timestamp}]->(c2:Customer {customer_id: $otherid})",
           id=from_customer, otherid=to_customer,amount=amount,timestamp=timestamp)

with driver.session() as session:

    #Create all nodes Customer 1 and Customer 2 create relationship where there is only one relationship
    for i in dups:
            session.write_transaction(create_customer, str(i))
    for i in transaction_info:
        if str(i[0]) in dups:
            #session.write_transaction(create_customer2, str(i[1]))
            session.write_transaction(create_transaction, str(i[0]), str(i[1]),str(i[2]),str(i[3]))
            continue
        session.write_transaction(create_customer, str(i[0]))
        #session.write_transaction(create_customer2, str(i[1]))
        session.write_transaction(create_transaction, str(i[0]), str(i[1]),str(i[2]),str(i[3]))
    
    

    
            
        #session.write_transaction(create_transaction, str(i[0]), str(i[1]))
        #session.write_transaction(create_transaction, str(i[0]), "Carl")

driver.close()

/tmp/ipykernel_72886/3017973299.py:19: DeprecationWarning: write_transaction has been renamed to execute_write
  session.write_transaction(create_customer, str(i))
/tmp/ipykernel_72886/3017973299.py:25: DeprecationWarning: write_transaction has been renamed to execute_write
  session.write_transaction(create_customer, str(i[0]))
/tmp/ipykernel_72886/3017973299.py:27: DeprecationWarning: write_transaction has been renamed to execute_write
  session.write_transaction(create_transaction, str(i[0]), str(i[1]),str(i[2]),str(i[3]))
/tmp/ipykernel_72886/3017973299.py:23: DeprecationWarning: write_transaction has been renamed to execute_write
  session.write_transaction(create_transaction, str(i[0]), str(i[1]),str(i[2]),str(i[3]))