In [11]:
import pandas as pd
import numpy as np
from faker import Faker
from collections import defaultdict
from sqlalchemy import create_engine
import datetime
import random
import re

# Fake data creation

In [12]:
from numpy import integer


fake=Faker()

fake_data = defaultdict(list)

row_number=int(input("Please write the number you wish to see the row size, DON'T CRASH ME!"))

In [13]:
# Creating sender and receiver ids 
for i in range(row_number):
    fake_data['sender_id'].append(fake.bothify(text='####'))
#fake_data['receiver_id']=fake_data['sender_id']

sender_id=fake_data["sender_id"]#Changing 'sender_id' column to a list
#receiver_id=fake_data["receiver_id"]#Changin 'receiver_id' column to a list

new_sender_id=[] # yeni data frame '  e  eklemek içni yeni from_custormer listem 
manipulated_receiver_id=[]# yeni data frame '  e  eklemek içni yeni to_ custormer listem 
amount=[]
timestamp=[]

Enjecting fake_data to DataFrame

df=pd.DataFrame(fake_data)
df=df[['sender_id','receiver_id']] 
df.head()

In [14]:
for idx in range(len(fake_data['sender_id'])): # fake_data ['sender_id'] nin uzunluğu kadar bir döngü yapiyorum
    # rastgele random sayi üretiyorum ki from_customer ' random sayida aktivasyonu olsun
    #f_c_s=''.join(sender_id[i])
    temp_sender_val=sender_id[idx]
    temp_receiver_list=[]
    temp_amount_list=[]
    temp_timestamp_list=[]

    for j in range(random.randint(1,10)): #random sayiyla döngü kuruyorum 

        # ayni müşteri kendine göndermemesi iiçin seçimi parçaliyorum
        
        rnd_reciever_id=''.join(random.choices(sender_id))         #to_customer listesinden random seçiyorum 
        
        if (temp_sender_val== rnd_reciever_id):  # ayni müşteri kendine göndermemesi id leri  kiyasliyorum eğer ayniysa döngüye devam ediyor
            continue

        temp_receiver_list.append(rnd_reciever_id)
        temp_amount_list.append(fake.pyfloat(right_digits=2,positive=True,min_value=2.00,max_value=10000.00))
        temp_timestamp_list.append(fake.date_time_ad(start_datetime=datetime.datetime(2022,9,14)))
    
    if len(new_sender_id)==len(fake_data['sender_id']): # fake_data['sender_id'] nin uzunluğuna eşit olunca çikmasi lazim
            break
    new_sender_id.append(temp_sender_val) # ana listeden yeni listeye random sayisi kadar  aynisindan ekliyo ki gönderenle alan eşit olsun
    
        
    if len(manipulated_receiver_id)==len(fake_data['sender_id']):
            break
    # random seçtiğimiz ögeyi yeni to_custoemr listesine ekliyoruz
    manipulated_receiver_id.append(temp_receiver_list)
    amount.append(temp_amount_list)
    timestamp.append(temp_timestamp_list)
     # random seçtiğimiz ögeyi yeni to_custoemr listesine ekliyoruz

In [15]:
fake_data['receiver_id']=manipulated_receiver_id
fake_data['amount']=amount
fake_data['timestamp']=timestamp
df=pd.DataFrame(fake_data)
df=df[['sender_id','receiver_id','amount','timestamp']]
df

,sender_id,receiver_id,amount,timestamp
0,7577,"[1251, 0570]","[7306.21, 768.93]","[2022-10-20 00:05:48, 2022-10-29 01:55:29]"
1,8796,"[3264, 6436, 4087, 6436, 3264, 9796]","[5217.22, 9467.72, 8999.34, 6590.6, 6520.34, 4...","[2022-10-05 04:55:58, 2022-10-29 12:30:13, 202..."
2,1251,"[8796, 3016]","[5862.28, 5813.2]","[2022-10-05 15:04:35, 2022-10-03 09:39:03]"
3,9796,"[7663, 3016, 0570, 3264, 6436, 1572, 9942, 7663]","[6505.7, 4536.75, 9985.19, 7194.51, 7617.7, 58...","[2022-10-16 07:59:10, 2022-11-03 01:07:48, 202..."
4,5178,"[3625, 0243, 3016, 7577, 5051, 3264, 0733]","[959.3, 1570.17, 4426.0, 3917.98, 3728.63, 659...","[2022-10-21 09:57:46, 2022-10-08 21:43:57, 202..."
5,5657,"[1572, 9383]","[8493.46, 3010.8]","[2022-10-12 21:52:56, 2022-10-26 13:30:47]"
6,7663,[5051],[6496.72],[2022-10-20 08:53:00]
7,5051,"[5657, 0733, 1572, 3504]","[1932.88, 1699.14, 6421.4, 6729.44]","[2022-09-24 13:03:49, 2022-09-24 22:48:24, 202..."
8,1908,"[1572, 9796, 3625, 6436]","[1414.83, 1233.11, 8565.16, 8559.83]","[2022-10-02 18:55:03, 2022-09-21 17:30:28, 202..."
9,9942,"[5178, 5178, 7577]","[1731.94, 6394.4, 2329.65]","[2022-09-16 23:03:03, 2022-10-27 22:08:22, 202..."
10,4087,"[8796, 1572, 7321, 1251, 5051, 3504, 7663, 5657]","[9694.97, 5387.41, 5891.71, 1400.42, 6019.87, ...","[2022-10-27 07:17:20, 2022-10-02 08:10:15, 202..."
11,3625,"[9383, 1251, 3504, 9796, 0243]","[46.42, 9458.4, 1294.73, 2397.43, 6360.38]","[2022-10-13 12:55:45, 2022-09-19 08:13:20, 202..."
12,6436,"[3016, 3016, 9383, 0570, 4087, 3016]","[1300.89, 7630.58, 7037.92, 6211.86, 1110.48, ...","[2022-10-19 04:35:54, 2022-09-19 15:12:27, 202..."
13,1849,"[1251, 9796, 7663, 5051, 0570, 0243, 5178, 125...","[1080.29, 7093.64, 4700.98, 2906.7, 1534.65, 8...","[2022-09-15 19:19:01, 2022-10-19 20:25:12, 202..."
14,0570,"[7321, 3504, 1908, 5178, 7663, 1251, 3264, 073...","[2114.88, 677.38, 6695.72, 3943.34, 9298.88, 1...","[2022-09-20 11:09:15, 2022-10-14 15:07:41, 202..."
15,0243,"[8796, 3625, 1572, 5657, 1251, 0570, 5051, 3016]","[980.53, 8033.16, 8747.91, 4312.35, 3506.88, 9...","[2022-10-26 12:36:22, 2022-11-02 22:15:52, 202..."
16,0733,"[1908, 8796, 7321, 1572, 9383, 3504]","[9904.1, 6617.91, 7077.52, 8599.78, 3754.21, 4...","[2022-10-07 20:43:02, 2022-10-30 16:55:31, 202..."
17,3016,"[4087, 7663, 4087, 5051, 6436, 0733, 0243, 350...","[5798.37, 9794.73, 5627.42, 4627.26, 1919.93, ...","[2022-10-06 21:55:06, 2022-09-18 04:15:12, 202..."
18,9383,"[3016, 1572]","[5218.68, 4386.7]","[2022-09-29 10:35:58, 2022-09-27 18:45:52]"
19,3264,"[0733, 5178, 7663, 3625, 1908, 1572]","[682.95, 4602.69, 2444.84, 9172.38, 4340.44, 1...","[2022-10-16 20:32:36, 2022-09-22 14:04:37, 202..."
20,3504,"[4087, 5657]","[8356.19, 55.0]","[2022-10-24 10:19:23, 2022-09-26 20:06:21]"
21,1572,"[5657, 9796, 0243, 9942, 5657, 1908, 4087, 1251]","[4501.9, 3763.37, 6583.29, 5799.42, 2041.34, 3...","[2022-10-26 01:12:50, 2022-10-11 05:22:44, 202..."
22,7321,"[8796, 7663, 1908, 0733, 9383, 9942, 9796, 9942]","[1988.59, 3775.13, 986.88, 8066.39, 7577.59, 9...","[2022-11-01 06:13:23, 2022-09-16 08:17:36, 202..."

# Neo4j

In [ ]:
from neo4j import GraphDatabase

In [ ]:
transaction_info=df.values.tolist()

In [ ]:
uri = "neo4j://localhost:7687"
driver = GraphDatabase.driver(uri, auth=("neo4j", "test"))

def clear_db(tx):
    tx.run("MATCH(n) Detach Delete n")

def create_customer(tx, customer_id):
    tx.run("CREATE (c1:customer {name: $name, customer_id: $id})",name='customer', id=customer_id)

def create_transaction(tx,customer_id,other_customer_id,amount,timestamp):
    tx.run("MATCH (c1:customer),(c2:customer) "
    "Where c1.customer_id= $id and c2.customer_id= $otherid "
    "Create (c1)-[t:Transaction{amount: $amount, time: $timestamp}]->(c2)",
    id=customer_id,otherid=other_customer_id,amount=amount,timestamp=timestamp)


with driver.session() as session:

    session.execute_write(clear_db)

    for i in range(len(transaction_info)):
        session.write_transaction(create_customer, str(transaction_info[i][0]))

    
    for element in transaction_info:
        for block in range(1,len(element)):
            for j in range(len(element[block])):

                session.write_transaction(create_transaction,element[0],element[1][j],element[2][j],element[3][j])

driver.close()