In [1]:
import pandas as pd
import numpy as np
from faker import Faker
from collections import defaultdict
from sqlalchemy import create_engine
import datetime
import random
import re

In [2]:
from numpy import integer


fake=Faker()

fake_data = defaultdict(list)

row_number=int(input("Please write the number you wish to see the row size, DON'T CRASH ME!"))

#Functions

#Fake data is generated.

In [3]:

for i in range(row_number):
    fake_data['from_customer'].append(fake.bothify(text='FRM-1#####'))
    fake_data['amount'].append(fake.pyfloat(right_digits=2,positive=True,min_value=2.00,max_value=10000.00))
    fake_data['timestamp'].append(fake.date_time_ad(start_datetime=datetime.datetime(2022,9,14)))

In [4]:
#To_customer feauture
templist=[]
#check the key value from list_converted defaultdict
for k,v in list(fake_data.items()):
    if k=='from_customer':
        #Change FRM tag to TO tag
        for item in v:
                splited_item=item.split('-')
                splited_item[0]='TO'
                concat_item='-'.join(splited_item)
                templist.append(concat_item)#item
#To_customer yapısında yer değişikliği random
random.shuffle(templist)
fake_data['to_customer']=templist

In [5]:
df=pd.DataFrame(fake_data)
df=df[['from_customer','to_customer','amount','timestamp']]
#dropped_df=df.drop(['amount','timestamp'], axis=1)

In [6]:
try:
    equal=any(df['from_customer'].str.extract('(\d+)')==df['to_customer'].str.extract('(\d+)'))
except:
    print("Same value error, please check your rows that may be have a same value")

In [7]:
#type(df_manipulation['from_customer'].str.extract('(\d+)')==df_manipulation['to_customer'].str.extract('(\d+)'))
#GET INDEX NUMBER:
    #df_manipulation[df['from_customer']=='FRM-757739'].index.item() 
#Seperate the numbers:
    #df_manipulation['from_customer'].str.extract('(\d+)'))
    #df_manipulation['to_customer'].str.extract('(\d+)'))
df.head()

  from_customer to_customer   amount           timestamp
0    FRM-187529   TO-159240  7142.54 2022-09-23 10:33:07
1    FRM-196671   TO-195200  6325.84 2022-10-31 13:45:54
2    FRM-141822   TO-155174  6561.82 2022-10-08 13:16:13
3    FRM-102021   TO-161624  4995.32 2022-09-22 13:07:33
4    FRM-198295   TO-103538  6577.27 2022-10-25 06:36:38

In [8]:
#from_or_to={'from_customer':'from_customer',
                    #'to_customer':'to_customer'}
#for i in range(len(from_or_to)):
            #list(from_or_to.keys())[i]=df[list(from_or_to.keys())[i]].to_list()

In [9]:
from_customer=list(df["from_customer"])#from_customer adlı sütünü listeye çevrildi.

to_customer=list(df["to_customer"])#to_customer adlı sütünü listeye çevrildi.

new_from_customer=[] # yeni data frame '  e  eklemek içni yeni from_custormer listesi 
new_to_customer=[]# yeni data frame '  e  eklemek içni yeni to_ custormer listesi

In [10]:
for i in range(len(df)): # df nin uzunluğu kadar bir döngü
    rand_numb=random.randint(1,5)  # rastgele random sayı üretiliyor ki from_customer ' random sayıda aktivasyonu olsun
    print("i=",i,"- rand_numb=",rand_numb)
    print("ilk for new_from_customer",len(new_from_customer))


    for j in range(rand_numb): #random sayıyla döngü  
       
        print("j=",j)
        choices=random.choices(to_customer) #to_customer listesinden random  
        # aynı müşteri kendine göndermemesi için seçim parçalanıyor.
        choices_sp="".join(choices) 
        choices_sp_jo=choices_sp.split("-") 

        number_to_customer=choices_sp_jo[1]
        from_customer_sp=from_customer[i]
        number_from_customer=from_customer[i].split("-")[1]

        # aynı müşteri kendine göndermemesi id ler kıyaslandı eğer aynıysa döngüye devam ediyor 
        if (number_from_customer[1]== number_to_customer[1]):
            print("AYNI")
            continue
        
        
        if len(new_from_customer)==len(df): # df nin uzunluğuna eşit olunca çıkması lazım
            break
        new_from_customer.append(from_customer[i]) # ana listeden yeni listeye random sayısı kadar  aynısından ekliyo ki gönderenle alan eşit olsun
        print("2.for new_from_customer",len(new_from_customer))
        
        if len(new_to_customer)==len(df):
            break
        new_to_customer.append(str(choices[0])) # random seçtiğimiz ögeyi yeni to_custoemr listesine ekliyoruz

i= 0 - rand_numb= 2
ilk for new_from_customer 0
j= 0
2.for new_from_customer 1
j= 1
2.for new_from_customer 2
i= 1 - rand_numb= 2
ilk for new_from_customer 2
j= 0
AYNI
j= 1
2.for new_from_customer 3
i= 2 - rand_numb= 4
ilk for new_from_customer 3
j= 0
AYNI
j= 1
2.for new_from_customer 4
j= 2
AYNI
j= 3
AYNI
i= 3 - rand_numb= 1
ilk for new_from_customer 4
j= 0
2.for new_from_customer 5
i= 4 - rand_numb= 5
ilk for new_from_customer 5
j= 0
2.for new_from_customer 6
j= 1
2.for new_from_customer 7
j= 2
2.for new_from_customer 8
j= 3
2.for new_from_customer 9
j= 4
AYNI
i= 5 - rand_numb= 5
ilk for new_from_customer 9
j= 0
2.for new_from_customer 10
j= 1
2.for new_from_customer 11
j= 2
2.for new_from_customer 12
j= 3
2.for new_from_customer 13
j= 4
2.for new_from_customer 14
i= 6 - rand_numb= 3
ilk for new_from_customer 14
j= 0
2.for new_from_customer 15
j= 1
2.for new_from_customer 16
j= 2
2.for new_from_customer 17
i= 7 - rand_numb= 3
ilk for new_from_customer 17
j= 0
2.for new_from_customer 18
j= 1
2.for new_from_customer 19
j= 2
2.for new_from_customer 20
i= 8 - rand_numb= 5
ilk for new_from_customer 20
j= 0
AYNI
j= 1
AYNI
j= 2
2.for new_from_customer 21
j= 3
2.for new_from_customer 22
j= 4
2.for new_from_customer 23
i= 9 - rand_numb= 3
ilk for new_from_customer 23
j= 0
2.for new_from_customer 24
j= 1
2.for new_from_customer 25
j= 2
2.for new_from_customer 26
i= 10 - rand_numb= 5
ilk for new_from_customer 26
j= 0
2.for new_from_customer 27
j= 1
2.for new_from_customer 28
j= 2
AYNI
j= 3
2.for new_from_customer 29
j= 4
2.for new_from_customer 30
i= 11 - rand_numb= 4
ilk for new_from_customer 30
j= 0
2.for new_from_customer 31
j= 1
2.for new_from_customer 32
j= 2
2.for new_from_customer 33
j= 3
AYNI
i= 12 - rand_numb= 4
ilk for new_from_customer 33
j= 0
2.for new_from_customer 34
j= 1
AYNI
j= 2
AYNI
j= 3
2.for new_from_customer 35
i= 13 - rand_numb= 2
ilk for new_from_customer 35
j= 0
2.for new_from_customer 36
j= 1
2.for new_from_customer 37
i= 14 - rand_numb= 1
ilk for new_from_customer 37
j= 0
2.for new_from_customer 38
i= 15 - rand_numb= 5
ilk for new_from_customer 38
j= 0
2.for new_from_customer 39
j= 1
2.for new_from_customer 40
j= 2
2.for new_from_customer 41
j= 3
2.for new_from_customer 42
j= 4
AYNI
i= 16 - rand_numb= 1
ilk for new_from_customer 42
j= 0
2.for new_from_customer 43
i= 17 - rand_numb= 3
ilk for new_from_customer 43
j= 0
2.for new_from_customer 44
j= 1
2.for new_from_customer 45
j= 2
2.for new_from_customer 46
i= 18 - rand_numb= 5
ilk for new_from_customer 46
j= 0
2.for new_from_customer 47
j= 1
2.for new_from_customer 48
j= 2
2.for new_from_customer 49
j= 3
2.for new_from_customer 50
j= 4
i= 19 - rand_numb= 2
ilk for new_from_customer 50
j= 0
i= 20 - rand_numb= 4
ilk for new_from_customer 50
j= 0
i= 21 - rand_numb= 3
ilk for new_from_customer 50
j= 0
i= 22 - rand_numb= 4
ilk for new_from_customer 50
j= 0
i= 23 - rand_numb= 5
ilk for new_from_customer 50
j= 0
i= 24 - rand_numb= 1
ilk for new_from_customer 50
j= 0
i= 25 - rand_numb= 1
ilk for new_from_customer 50
j= 0
i= 26 - rand_numb= 4
ilk for new_from_customer 50
j= 0
i= 27 - rand_numb= 1
ilk for new_from_customer 50
j= 0
AYNI
i= 28 - rand_numb= 3
ilk for new_from_customer 50
j= 0
i= 29 - rand_numb= 5
ilk for new_from_customer 50
j= 0
i= 30 - rand_numb= 4
ilk for new_from_customer 50
j= 0
i= 31 - rand_numb= 3
ilk for new_from_customer 50
j= 0
i= 32 - rand_numb= 1
ilk for new_from_customer 50
j= 0
i= 33 - rand_numb= 5
ilk for new_from_customer 50
j= 0
AYNI
j= 1
i= 34 - rand_numb= 4
ilk for new_from_customer 50
j= 0
i= 35 - rand_numb= 2
ilk for new_from_customer 50
j= 0
i= 36 - rand_numb= 3
ilk for new_from_customer 50
j= 0
AYNI
j= 1
i= 37 - rand_numb= 5
ilk for new_from_customer 50
j= 0
i= 38 - rand_numb= 5
ilk for new_from_customer 50
j= 0
AYNI
j= 1
i= 39 - rand_numb= 4
ilk for new_from_customer 50
j= 0
i= 40 - rand_numb= 1
ilk for new_from_customer 50
j= 0
i= 41 - rand_numb= 1
ilk for new_from_customer 50
j= 0
i= 42 - rand_numb= 5
ilk for new_from_customer 50
j= 0
i= 43 - rand_numb= 4
ilk for new_from_customer 50
j= 0
i= 44 - rand_numb= 3
ilk for new_from_customer 50
j= 0
i= 45 - rand_numb= 1
ilk for new_from_customer 50
j= 0
i= 46 - rand_numb= 1
ilk for new_from_customer 50
j= 0
i= 47 - rand_numb= 3
ilk for new_from_customer 50
j= 0
i= 48 - rand_numb= 4
ilk for new_from_customer 50
j= 0
i= 49 - rand_numb= 4
ilk for new_from_customer 50
j= 0

In [11]:
amount=list(df["amount"]) # df de ki amount u listeye dönüştürüyorum
timestamp=list(df["timestamp"]) #df de ki timestamp u listeye dönüştürüyorum

In [12]:
new_df=pd.DataFrame() # yeni data frame oluşturuldu.

# listeler yeni data frame aktarıldı. 
new_df['from_customer']=new_from_customer
new_df['to_customer']=new_to_customer
new_df['amount']=amount

new_df['timestamp']=timestamp

In [22]:
from collections import defaultdict
dup_dict=defaultdict(list)
print(type(new_df.iloc[2,0]))

for i in range(len(new_df)+1):
    
    dup_dict[new_df.iloc[i,0]].append(new_df.iloc[i,1])
    if i >= len(new_df)-1:
            break

    if new_df.iloc[i,0]==new_df.iloc[i+1,0]:
        if new_df.iloc[i,1] in dup_dict[new_df.iloc[i,0]]:
                continue
        dup_dict[new_df.iloc[i,0]].append(new_df.iloc[i,1])

dup_dict

<class 'str'>

defaultdict(list,
            {'FRM-187529': ['TO-177683', 'TO-119958'],
             'FRM-196671': ['TO-141822'],
             'FRM-141822': ['TO-157861'],
             'FRM-102021': ['TO-174551'],
             'FRM-198295': ['TO-101841',
              'TO-102021',
              'TO-174551',
              'TO-101842'],
             'FRM-174551': ['TO-126321',
              'TO-105046',
              'TO-125034',
              'TO-198295',
              'TO-101581'],
             'FRM-177683': ['TO-198295', 'TO-182233', 'TO-126321'],
             'FRM-100293': ['TO-198295', 'TO-177595', 'TO-118653'],
             'FRM-118653': ['TO-128010', 'TO-125034', 'TO-196671'],
             'FRM-141096': ['TO-187529', 'TO-101581', 'TO-173116'],
             'FRM-195200': ['TO-100293',
              'TO-100293',
              'TO-126321',
              'TO-157861'],
             'FRM-125034': ['TO-101841', 'TO-159240', 'TO-105751'],
             'FRM-119958': ['TO-195200', 'TO-102706'],
             'FRM-173116': ['TO-111487', 'TO-123011'],
             'FRM-126321': ['TO-116499'],
             'FRM-101842': ['TO-156895',
              'TO-126777',
              'TO-159240',
              'TO-196671'],
             'FRM-105751': ['TO-141096'],
             'FRM-187465': ['TO-103538', 'TO-177584', 'TO-102021'],
             'FRM-158792': ['TO-196671',
              'TO-174551',
              'TO-101842',
              'TO-177584']})

In [23]:
new_df

   from_customer to_customer   amount           timestamp
0     FRM-187529   TO-177683  7142.54 2022-09-23 10:33:07
1     FRM-187529   TO-119958  6325.84 2022-10-31 13:45:54
2     FRM-196671   TO-141822  6561.82 2022-10-08 13:16:13
3     FRM-141822   TO-157861  4995.32 2022-09-22 13:07:33
4     FRM-102021   TO-174551  6577.27 2022-10-25 06:36:38
5     FRM-198295   TO-101841  1666.50 2022-09-29 00:38:33
6     FRM-198295   TO-102021   243.99 2022-09-16 20:07:27
7     FRM-198295   TO-174551  3979.67 2022-10-21 02:13:45
8     FRM-198295   TO-101842  4890.69 2022-10-09 17:50:07
9     FRM-174551   TO-126321   820.59 2022-10-22 16:01:54
10    FRM-174551   TO-105046  7435.37 2022-10-11 05:19:53
11    FRM-174551   TO-125034  4020.65 2022-10-23 15:19:22
12    FRM-174551   TO-198295  4851.56 2022-09-15 07:21:38
13    FRM-174551   TO-101581  3539.80 2022-10-16 17:04:43
14    FRM-177683   TO-198295  3091.83 2022-10-17 14:35:59
15    FRM-177683   TO-182233  2423.52 2022-10-13 07:45:28
16    FRM-177683   TO-126321  8673.76 2022-10-23 07:12:06
17    FRM-100293   TO-198295  5100.90 2022-10-29 09:39:30
18    FRM-100293   TO-177595   502.10 2022-10-15 20:15:27
19    FRM-100293   TO-118653  3870.82 2022-10-17 00:45:49
20    FRM-118653   TO-128010  4547.57 2022-09-14 23:48:11
21    FRM-118653   TO-125034  9126.87 2022-10-03 02:18:33
22    FRM-118653   TO-196671  8907.97 2022-11-01 01:19:11
23    FRM-141096   TO-187529  7701.64 2022-10-01 01:04:51
24    FRM-141096   TO-101581  6399.28 2022-10-11 14:52:46
25    FRM-141096   TO-173116   256.84 2022-10-15 18:27:18
26    FRM-195200   TO-100293   166.14 2022-10-04 04:27:05
27    FRM-195200   TO-100293  8889.88 2022-09-30 14:01:23
28    FRM-195200   TO-126321  3753.51 2022-10-27 11:54:43
29    FRM-195200   TO-157861  8275.66 2022-10-05 18:05:16
30    FRM-125034   TO-101841  6605.19 2022-09-25 13:49:53
31    FRM-125034   TO-159240  6806.26 2022-10-20 04:12:45
32    FRM-125034   TO-105751  3590.74 2022-10-02 02:35:27
33    FRM-119958   TO-195200  7146.60 2022-09-18 03:32:59
34    FRM-119958   TO-102706  4025.44 2022-10-26 18:03:21
35    FRM-173116   TO-111487  3574.70 2022-10-24 08:07:16
36    FRM-173116   TO-123011  4812.26 2022-09-20 14:01:49
37    FRM-126321   TO-116499  4709.33 2022-10-23 13:37:54
38    FRM-101842   TO-156895  2148.70 2022-09-14 20:54:28
39    FRM-101842   TO-126777  8685.79 2022-09-17 10:53:05
40    FRM-101842   TO-159240  6135.94 2022-10-25 13:30:32
41    FRM-101842   TO-196671  9948.34 2022-10-24 06:21:49
42    FRM-105751   TO-141096  3608.79 2022-09-22 02:18:16
43    FRM-187465   TO-103538  1309.12 2022-10-01 17:24:51
44    FRM-187465   TO-177584  3919.34 2022-10-29 16:12:06
45    FRM-187465   TO-102021  5124.52 2022-09-21 00:59:19
46    FRM-158792   TO-196671  1362.89 2022-09-20 02:00:47
47    FRM-158792   TO-174551  7757.25 2022-09-19 16:33:15
48    FRM-158792   TO-101842  9945.78 2022-10-03 07:16:02
49    FRM-158792   TO-177584  6887.16 2022-10-07 00:06:01

#Neo4j

In [ ]:
from neo4j import GraphDatabase

In [ ]:
transaction_info=new_df.values.tolist()

In [ ]:
uri = "neo4j://localhost:7687"
driver = GraphDatabase.driver(uri, auth=("neo4j", "test"))

def clear_db(tx):
    tx.run("MATCH(n) Detach Delete n")

def create_customer(tx, from_customer):
    tx.run("CREATE (c1:Customer {name: $name, customer_id: $id})",name='customer', id=from_customer)

#def create_customer2(tx, to_customer):
 #   tx.run("CREATE (c2:Customer2 {name: $name, customer_id: $id})",name='customer2', id=to_customer)

def create_transaction(tx, from_customer, to_customer,amount,timestamp):
    tx.run("MATCH (c1:Customer) WHERE c1.customer_id = $id "
           "CREATE (c1)-[:Transaction{amount:$amount,time:$timestamp}]->(c2:Customer {customer_id: $otherid})",
           id=from_customer, otherid=to_customer,amount=amount,timestamp=timestamp)

def deneme(tx,from_customer,to_customer,amount,timestamp):
    tx.run("MATCH (c:Customer) WHERE c.customer_id=$id "
    "MATCH (c2:Customer) WHERE c2.customer_id=$receiverid "
    "Merge (c)-[:Transaction{amount:$amount,time:$timestamp}]->(c2)",
    id=from_customer,receiverid=to_customer,amount=amount,timestamp=timestamp)

with driver.session() as session:

    session.execute_write(clear_db)
    #Create all nodes Customer 1 and Customer 2 create relationship where there is only one relationship
    for i in transaction_info:
        session.write_transaction(create_customer, str(i[0]))
        session.write_transaction(create_customer, str(i[1]))
        session.write_transaction(deneme, str(i[0]), str(i[1]),str(i[2]),str(i[3]))

        #session.write_transaction(create_transaction, str(i[0]), str(i[1]))
        #session.write_transaction(create_transaction, str(i[0]), "Carl")

driver.close()