In [1]:
import pandas as pd
import numpy as np
from faker import Faker
from collections import defaultdict
from sqlalchemy import create_engine
import datetime
import random
import re

In [2]:
from numpy import integer


fake=Faker()

fake_data = defaultdict(list)

row_number=int(input("Please write the number you wish to see the row size, DON'T CRASH ME!"))

#Functions

#Fake data is generated.

In [3]:

for i in range(row_number):
    fake_data['from_customer'].append(fake.bothify(text='FRM-1#####'))
    fake_data['amount'].append(fake.pyfloat(right_digits=2,positive=True,min_value=2.00,max_value=10000.00))
    fake_data['timestamp'].append(fake.date_time_ad(start_datetime=datetime.datetime(2022,9,14)))

In [4]:
#To_customer feauture
templist=[]
#check the key value from list_converted defaultdict
for k,v in list(fake_data.items()):
    if k=='from_customer':
        #Change FRM tag to TO tag
        for item in v:
                splited_item=item.split('-')
                splited_item[0]='TO'
                concat_item='-'.join(splited_item)
                templist.append(concat_item)#item
#To_customer yapısında yer değişikliği random
random.shuffle(templist)
fake_data['to_customer']=templist

In [5]:
df=pd.DataFrame(fake_data)
df=df[['from_customer','to_customer','amount','timestamp']]
#dropped_df=df.drop(['amount','timestamp'], axis=1)

In [6]:
try:
    equal=any(df['from_customer'].str.extract('(\d+)')==df['to_customer'].str.extract('(\d+)'))
except:
    print("Same value error, please check your rows that may be have a same value")

In [7]:
#type(df_manipulation['from_customer'].str.extract('(\d+)')==df_manipulation['to_customer'].str.extract('(\d+)'))
#GET INDEX NUMBER:
    #df_manipulation[df['from_customer']=='FRM-757739'].index.item() 
#Seperate the numbers:
    #df_manipulation['from_customer'].str.extract('(\d+)'))
    #df_manipulation['to_customer'].str.extract('(\d+)'))
df.head()

  from_customer to_customer   amount           timestamp
0    FRM-174530   TO-166062  8439.79 2022-09-25 18:42:39
1    FRM-171122   TO-132008  8398.99 2022-09-18 14:13:52
2    FRM-139838   TO-130723  2385.14 2022-10-18 08:26:55
3    FRM-130468   TO-101976  1228.61 2022-10-12 04:38:25
4    FRM-189541   TO-112698  6531.12 2022-09-25 21:38:50

In [8]:
#from_or_to={'from_customer':'from_customer',
                    #'to_customer':'to_customer'}
#for i in range(len(from_or_to)):
            #list(from_or_to.keys())[i]=df[list(from_or_to.keys())[i]].to_list()

In [9]:
from_customer=list(df["from_customer"])#from_customer adlı sütünü listeye çevrildi.

to_customer=list(df["to_customer"])#to_customer adlı sütünü listeye çevrildi.

new_from_customer=[] # yeni data frame '  e  eklemek içni yeni from_custormer listesi 
new_to_customer=[]# yeni data frame '  e  eklemek içni yeni to_ custormer listesi

In [10]:

for i in range(len(df)): # df nin uzunluğu kadar bir döngü
    rand_numb=random.randint(1,5)  # rastgele random sayı üretiliyor ki from_customer ' random sayıda aktivasyonu olsun
    print("i=",i,"- rand_numb=",rand_numb)
    print("ilk for new_from_customer",len(new_from_customer))


    for j in range(rand_numb): #random sayıyla döngü  
       
        print("j=",j)
        choices=random.choices(to_customer) #to_customer listesinden random  
        # aynı müşteri kendine göndermemesi için seçim parçalanıyor.
        choices_sp="".join(choices) 
        choices_sp_jo=choices_sp.split("-") 

        number_to_customer=choices_sp_jo[1]
        from_customer_sp=from_customer[i]
        number_from_customer=from_customer[i].split("-")[1]

        # aynı müşteri kendine göndermemesi id ler kıyaslandı eğer aynıysa döngüye devam ediyor 
        if (number_from_customer[1]== number_to_customer[1]):
            print("AYNI")
            continue
        
        
        if len(new_from_customer)==len(df): # df nin uzunluğuna eşit olunca çıkması lazım
            break
        new_from_customer.append(from_customer[i]) # ana listeden yeni listeye random sayısı kadar  aynısından ekliyo ki gönderenle alan eşit olsun
        print("2.for new_from_customer",len(new_from_customer))
        
        if len(new_to_customer)==len(df):
            break
        new_to_customer.append(choices) # random seçtiğimiz ögeyi yeni to_custoemr listesine ekliyoruz

['FRM-174681', 'FRM-151419', 'TO-125808', 'TO-133366']

  from_customer to_customer   amount           timestamp
0    FRM-174530   TO-166062  8439.79 2022-09-25 18:42:39
1    FRM-171122   TO-132008  8398.99 2022-09-18 14:13:52
2    FRM-139838   TO-130723  2385.14 2022-10-18 08:26:55
3    FRM-130468   TO-101976  1228.61 2022-10-12 04:38:25
4    FRM-189541   TO-112698  6531.12 2022-09-25 21:38:50

In [11]:
amount=list(df["amount"]) # df de ki amount u listeye dönüştürüyorum
timestamp=list(df["timestamp"]) #df de ki timestamp u listeye dönüştürüyorum

['FRM-174681',
 'FRM-151419',
 'FRM-151419',
 'FRM-151419',
 'FRM-151419',
 'FRM-151419',
 'FRM-151419',
 'FRM-151419']

In [12]:
new_df=pd.DataFrame() # yeni data frame oluşturuldu.

# listeler yeni data frame aktarıldı. 
new_df['from_customer']=new_from_customer
new_df['to_customer']=new_to_customer
new_df['amount']=amount

new_df['timestamp']=timestamp

In [13]:
new_df

['FRM-174681',
 'FRM-151419',
 'FRM-151419',
 'FRM-151419',
 'FRM-151419',
 'FRM-151419',
 'FRM-151419',
 'FRM-151419']

#Neo4j

In [17]:
from neo4j import GraphDatabase

In [18]:
transaction_info=new_df.values.tolist()

['112698', '130723', '171122']

In [19]:
uri = "neo4j://localhost:7687"
driver = GraphDatabase.driver(uri, auth=("neo4j", "test"))

def clear_db(tx):
    tx.run("MATCH(n) Detach Delete n")

def create_customer(tx, from_customer):
    tx.run("CREATE (c1:Customer {name: $name, customer_id: $id})",name='customer', id=from_customer)

#def create_customer2(tx, to_customer):
 #   tx.run("CREATE (c2:Customer2 {name: $name, customer_id: $id})",name='customer2', id=to_customer)

def create_transaction(tx, from_customer, to_customer,amount,timestamp):
    tx.run("MATCH (c1:Customer) WHERE c1.customer_id = $id "
           "CREATE (c1)-[:Transaction{amount:$amount,time:$timestamp}]->(c2:Customer {customer_id: $otherid})",
           id=from_customer, otherid=to_customer,amount=amount,timestamp=timestamp)

def deneme(tx,from_customer,to_customer,amount,timestamp):
    tx.run("MATCH (c:Customer) WHERE c.customer_id=$id "
    "MATCH (c2:Customer) WHERE c2.customer_id=$receiverid "
    "Merge (c)-[:Transaction{amount:$amount,time:$timestamp}]->(c2)",
    id=from_customer,receiverid=to_customer,amount=amount,timestamp=timestamp)

with driver.session() as session:

    session.execute_write(clear_db)
    #Create all nodes Customer 1 and Customer 2 create relationship where there is only one relationship
    for i in transaction_info:
        session.write_transaction(create_customer, str(i[0]))
        session.write_transaction(create_customer, str(i[1]))
        session.write_transaction(deneme, str(i[0]), str(i[1]),str(i[2]),str(i[3]))

        #session.write_transaction(create_transaction, str(i[0]), str(i[1]))
        #session.write_transaction(create_transaction, str(i[0]), "Carl")

driver.close()

/tmp/ipykernel_72886/3017973299.py:19: DeprecationWarning: write_transaction has been renamed to execute_write
  session.write_transaction(create_customer, str(i))
/tmp/ipykernel_72886/3017973299.py:25: DeprecationWarning: write_transaction has been renamed to execute_write
  session.write_transaction(create_customer, str(i[0]))
/tmp/ipykernel_72886/3017973299.py:27: DeprecationWarning: write_transaction has been renamed to execute_write
  session.write_transaction(create_transaction, str(i[0]), str(i[1]),str(i[2]),str(i[3]))
/tmp/ipykernel_72886/3017973299.py:23: DeprecationWarning: write_transaction has been renamed to execute_write
  session.write_transaction(create_transaction, str(i[0]), str(i[1]),str(i[2]),str(i[3]))